%ul.evaluations
  - @evaluations.each do |evaluation|
    - entry = evaluation.entry
    %li[evaluation]
      = image_tag entry.profile_photo.url(:medium)
      %div
        %h3
          = link_to entry.community_name, entry
        %dl
          %dt Genre
          %dd= entry.genre
          %dt Hometown
          %dd= entry.hometown
          %dt My Evaluation
          %dd= evaluation.overall_score
          %dt Evaluations
          %dd= entry.evaluations.count
          %dt Average Evaluation
          %dd= entry.overall_score
          %dt Followers
          %dd= entry.follows.count

        %div.evaluation
          %ul
            %li= evaluation.created_at
            - if evaluation.music_score?
              %li Music #{evaluation.music_score}
            - if evaluation.vocals_score?
              %li Vocals #{evaluation.vocals_score}
            %li Presentation #{evaluation.presentation_score}
          %p= evaluation.comment

          = render "follows/button", entry: entry
