= render "users/score"
/ main content area
.shell.interior
  .main
    .main-t
    .main-c
      .moguls-list.clearfix
        - @evaluations.each do |evaluation|
          .mogul-entry[evaluation]
            %a{:href => "#{entry_path(evaluation.entry)}"}
              %img{:alt => "", :src => "#{evaluation.entry.profile_photo.url(:medium)}"}/
            %h3
              %a{:href => "#{entry_path(evaluation.entry)}"}= evaluation.entry.stage_name
            %p
              %span.style> #{evaluation.entry.genre}
              #{evaluation.entry.hometown}
              %br>/
              My Evaluation
              %span.grade #{number_with_precision(evaluation.overall_score, precision: 1)}
            .eval-buttons.clearfix
              = render "follows/button", entry: evaluation.entry
              = render "contracts/button", entry: evaluation.entry
    .main-b.main-b-edit
/ end main content area
-#.loading-more
-#  %p Loading More Contestants...