.mogul-info-box.contestant-info-box
  .info-row.clearfix
    %ul.head-row.clearfix
      %li.title
        %h3 My Score
      %li
        %h3 Rank
        %strong
          #{@entry.rank}
          %small /#{Entry.count}
      %li
        %h3 Points
        %strong #{@entry.points}
  .info-row.clearfix.hidden-row
    %h3 Auditions
    %ul.small-list.auduitions-list.clearfix
      %li
        Evaluations
        %span #{@entry.evaluations.count}
      %li
        Music
        %span #{number_with_precision(@entry.overall_music_score, precision: 1)}
      %li
        Vocals
        %span #{number_with_precision(@entry.overall_vocals_score, precision: 1)}
      %li
        Presentation
        %span #{number_with_precision(@entry.overall_presentation_score, precision: 1)}
      %li
        Avg
        %span #{number_with_precision(@entry.overall_score, precision: 1)}
      %li
        Points
        %strong --
  .info-row.clearfix.hidden-row
    %h3 Invitess
    %ul.small-list.invitees-list.clearfix
      %li
        %strong> #{current_user.invited_users.count}
        \/#{current_user.invitation_limit}
      %li
        Points
        %span --
  .info-row.clearfix.hidden-row
    %ul.small-list.followers-list.clearfix
      %li
        %h3 Followers
        %strong #{@entry.users.count}
      %li
        %h3 Contracts
        %strong --
  %a.list-handle{:href => "#"}
    %span
/ end info box
/ main content area
.shell.interior
  .main
    .main-t
    .main-c
      .moguls-list.clearfix
        - @evaluations.each do |evaluation|
          .contestant-info.following-contestant
            %a{:href => "#"}
              %img{:alt => "", :src => "#{evaluation.user.profile_photo.url(:medium)}"}/
            %a.follow-btn.btn{:href => "#", :rel => "Follow"} Following
            %a.sign-btn{:href => "#"}
            .contestant-info-inner.clearfix
              .left-info
                %h3
                  %a{:href => "#"}= evaluation.user.username
                %p
                  #{evaluation.user.hometown}
                  %br>/
                  Evaluations
                  %span #{evaluation.user.evaluations.count}
                  = succeed "Avg." do
                    %br/
                  Score
                  %span #{number_with_precision(evaluation.user.average_evaluation_score, precision: 1)}
              .right-info
                .stats
                  %p
                    Score
                    = succeed "Music" do
                      %span #{number_with_precision(evaluation.overall_score, precision: 1)}
                    = succeed "Vocals" do
                      %span #{number_with_precision(evaluation.music_score, precision: 1)}
                    = succeed "Presentation" do
                      %span #{number_with_precision(evaluation.vocals_score, precision: 1)}
                    %span #{number_with_precision(evaluation.presentation_score, precision: 1)}
                    %strong.date #{evaluation_datetime(evaluation.created_at)}
                - if evaluation.comment?
                  %p= evaluation.comment
    .main-b.main-b-edit
/ end main content area
.loading-more
  %p Loading More Contestants...