.login-holder.login-holder2
  %span.sign-in-title Sign Up
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = f.input :musician, as: :hidden
    = f.input :username, required: false, input_html: { class: "field" }
    = f.input :email, input_html: { class: "field" }
    = f.input :password, input_html: { class: "field" }
    = f.submit "Sign Up", class: "submit"
  .cl  
  .bottom-part
    %span
      Already registered?
      %a{:href => "#{new_user_session_path}"} Sign in