.login-holder.login-holder2
  %span.sign-in-title Sign Up
  %span.sign-in-subtitle Reserve your place as a #{session[:musician] ? "contestant" : "contest judge"}

  #progress-bar{class: "#{'thirds' if session[:musician]}"}
    .progress-item.active
      .circle 1
      .progress-label User Info
    .progress-item.inactive
      .circle 2
      .progress-label Verify Email
    - if session[:musician]
      .progress-item.inactive
        .circle 3
        .progress-label Contestant Info
  .clear
  
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = f.input :musician, as: :hidden
    = f.input :username, input_html: { class: "field" }
    = f.input :email, input_html: { class: "field" }
    = f.input :password, input_html: { class: "field" }
    #submit= f.submit "Sign Up", class: "submit"
  .cl  
  .bottom-part
    %span
      Already registered?
      %a#already-registered-sign-in{:href => "#{new_user_session_path}"} Sign in

  #legal
    &copy; 2012 Bright Lights Music Group, LLC 
    = link_to "Terms", "/notices#terms"
    = link_to "Privacy", "/notices#privacy"
