= simple_form_for @entry, html: {multipart: true} do |f|
  %input.submit{:type => "submit", :value => "Save"}/
  .cl  
  .line-title
    %span
      %strong Performer Settings
    .cl  
  .row
    = f.input :stage_name, input_html: { class: "field" }
    .cl  
  .row
    %label{for: "entry_genre"} Genre*
    %select.select#entry_genre{name: "entry[genre]"}
      = options_for_select([" "] + Entry::GENRES, selected: @entry.genre)
    .cl  
  .row
    = f.input :hometown, input_html: { class: "field" }
    .cl  
  .row
    %label{for: "entry_bio"} Bio
    .textarea-holder.scrollpane
      %textarea#entry_bio{:cols => "5", :rows => "5", name: "entry[bio]"}
        = @entry.bio
    .cl  
  .line-title
    %span
      %strong Audition Video
    .cl  
  .row
    %label.larger{for: "entry_youtube_url"} YouTube URL*
    %input.field#entry_youtube_url{type: "text", value: @entry.youtube_url, name: "entry[youtube_url]"}/
    .cl  
  .row
    %label.larger{for: "entry_title"} Title*
    %input.field#entry_title{type: "text", value: @entry.title, name: "entry[title]"}/
    .cl  
  .row.check-row
    %input{name: "entry[has_music]", type: "hidden", value: "0"}
    %input#entry_has_music.check.ez-mark{type: "checkbox", value: "1", checked: @entry.has_music?, name: "entry[has_music]"}/
    %label.check{:for => "entry_has_music"} Has Music

    %input{name: "entry[has_vocals]", type: "hidden", value: "0"}
    %input#entry_has_vocals.check.ez-mark{type: "checkbox", value: "1", checked: @entry.has_vocals?, name: "entry[has_vocals]"}/
    %label.check{:for => "entry_has_vocals"} Has Vocals

    %input{name: "entry[has_explicit_content]", type: "hidden", value: "0"}
    %input#entry_has_explicit_content.check.ez-mark{type: "checkbox", value: "1", checked: @entry.has_explicit_content?, name: "entry[has_explicit_content]"}/
    %label.check{:for => "entry_has_explicit_content"} Has Explicit Content
    .cl  
  .line-title
    %span
      %strong Profile Photo
    .cl  
  .photo-upload
    .img-holder
      %img{:alt => "", :src => "#{f.object.profile_photo.url(:thumb)}"}/
      %a.crop-text{:href => "#"} click to crop photo
      %a.delete-photo delete photo
    .text-holder
      %input.file#entry_profile_photo{type: "file", name: "entry[profile_photo]"}/
      %span.file-btn Choose File
      %span.no-file No file chosen
      .cl  
      %p
        You can upload a JPG, PNG, or GIF file
        that is no more than 4MB (Do not upload pictures containing celebrities, nudity, artwork or images that you do not own or represent the copyright for.)
      .photo-progress
        %span.text Upload Progress:
        .progress
          %span{:style => "width: 34%;"}  
    .cl  
  .line-title
    %span.smaller
      %strong Social Accounts
      Allow community members to connect with you on your social networks
    .cl  
  .row
    = f.input :facebook, input_html: { class: "field" }
    .cl  
  .row
    = f.input :pinterest, input_html: { class: "field" }
    .cl  
  .row
    = f.input :twitter, input_html: { class: "field" }
    .cl  
  .row
    = f.input :youtube, label: "YouTube", input_html: { class: "field" }
    .cl  
  .row
    = f.input :website, input_html: { class: "field" }
    .cl  
    %br/
  %hr/
  %br/
  %span.req *Required
  %input.submit{:type => "submit", :value => "Save"}/
  .cl  