- entries.each do |entry|
  .box[entry]{class: cycle("", "box-white")}
    .img-holder
      %img{:alt => "", :height => "186", :src => "#{entry.profile_photo.url(:medium)}", :width => "186"}/
    .text-holder.left
      - if user_signed_in?
        = link_to entry.community_name, entry, class: "title"
        - unless controller.controller_name == "home"
          = render "follows/button", entry: entry
      - else
        = link_to entry.community_name, "#", class: "title black-title"
      .cl  
      .left-part
        %span.left-text Genre
        %span.right-text #{entry.genre}
        .cl  
        %span.left-text Hometown
        %span.right-text #{entry.hometown}
        .cl  
      .right-part
        .ellipsis
          %p
            #{entry.bio}
    .cl  