.main.shell
  .main-t
  .main-c
    .sign-up-steps
      %h2 Sign Up
      %p.meta Reserve Your Place As A Contestant
      .steps-nav.clearfix
        %ul
          %li
            %small.number 1
            %span
              User
              %br>/
              Info
          %li
            %small.number 2
            %span
              Verify
              %br>/
              Email
          %li.active
            %small.number 3
            %span Contestant Info
      .form-section
        = simple_form_for @entry, url: finish_entry_path, html: {multipart: true} do |f|
          .inner-form-section
            %h3 Contestant Information
            = f.input :stage_name, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
            = f.input :genre, collection: Entry::GENRES, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
            = f.input :hometown, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
            = f.input :bio, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
            = f.input :free_download_link, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
          .inner-form-section
            %h3 Performance Video
            = f.input :title, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
            = f.input :youtube_url, label: "YouTube URL", wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
            .form-row.clearfix
              .labels
                %label.check
                  %input{name: "entry[has_music]", type: "hidden", value: "0"}
                  %input{type: "checkbox", value: "1", checked: @entry.has_music?, name: "entry[has_music]"}/
                  %span
                  Has Music
                %label.check
                  %input{name: "entry[has_vocals]", type: "hidden", value: "0"}
                  %input{type: "checkbox", value: "1", checked: @entry.has_vocals?, name: "entry[has_vocals]"}/
                  %span
                  Has Vocals
                %label.check
                  %input{name: "entry[has_explicit_content]", type: "hidden", value: "0"}
                  %input{type: "checkbox", value: "1", checked: @entry.has_explicit_content?, name: "entry[has_explicit_content]"}/
                  %span
                  Has Explicit Content
          .inner-form-section.clearfix
            %h3 Album cover photo
            - if @entry.profile_photo?
              = image_tag(@entry.profile_photo.medium.url, class: "cover-image")
            - else
              .cover-image
            .custom-upload
              .upload-button
                = f.input :profile_photo, input_html: {id: "entry_profile_photo", class: "upload-field"}
                .fake-upload
                  %p Choose File
                %input.field.upload-value{value: "#{f.object.profile_photo? ? f.object.profile_photo.file.filename : "No file chosen"}", readonly: "readonly", type: "text"}/
              .upload-info
                %p
                  You can upload a JPG, PNG, or GIF file that is no
                  %br>/
                  more that 4MB. (Do not upload pictures
                  %br>/
                  containing celebrities, nudity, artwork or images
                  = succeed "that" do
                    %br/
                  you do not own or represent the copyright for.)
          %input.btn{:type => "submit", :value => "Sign Up"}/
  .main-b
