-#= content_for(:bottom_of_header) do
-#  = render "evaluations/progress"
-#
-#- @entries.each do |entry|
-#  - if current_user.has_evaluated?(entry)
-#    .box.box-edit[entry]{class: cycle("", "box-white")}
-#      .place-holder
-#        %span.place #{entry.rank}
-#        %span.points
-#          Points
-#          %strong #{entry.points}
-#      .img-holder
-#        %a{:href => "#{entry_path(entry)}"}
-#          %img{:alt => "", :height => "186", :src => "#{entry.profile_photo.url(:medium)}", :width => "186"}/
-#      .text-holder.left
-#        %a.title{:href => "#{entry_path(entry)}"} #{entry.stage_name}
-#        = render "follows/button", entry: entry
-#        .cl  
-#        .left-part
-#          %span.left-text Genre
-#          %span.right-text #{entry.genre}
-#          .cl  
-#          %span.left-text Hometown
-#          %span.right-text #{entry.hometown}
-#          %span.left-text My Evaluation
-#          %span.right-text= number_with_precision current_user.evaluation_for(entry).overall_score, precision: 1
-#          .cl  
-#          %span.left-text Evaluations
-#          %span.right-text #{entry.evaluations.count}
-#          .cl  
-#          %span.left-text Avg. Eval.
-#          %span.right-text= number_with_precision entry.overall_score, precision: 1
-#          .cl  
-#          %span.left-text Followers
-#          %span.right-text #{entry.follows.count}
-#          .cl  
-#        .right-part
-#          .ellipsis
-#            %p #{entry.bio}
-#      .cl
-#  - else
-#    .box.box-edit[entry]{class: cycle("", "box-white")}
-#      .place-holder
-#        %span.place #{entry.rank}
-#        %span.points
-#          Points
-#          %strong #{entry.points}
-#      .img-holder
-#        .img-text
-#          %span
-#            You haven’t
-#            %br/
-#            evaluated this
-#            %br/
-#            contestant yet
-#          %span
-#            Try to discover
-#            %br/
-#            them in the
-#            %br/
-#            %a{:href => "#{root_path}"} Auditions
-#            list!
-#      .cl  

= render "users/score"
.shell.interior
  .main.tabs-section
    .main-t.tabs-nav
      %ul.clearfix
        %li
          %a{:href => "#"} Contestants
          %span.overlay
        %li
          %a{:href => "#"} Moguls
          %span.overlay
    .main-c.tabs
      .tab
        - @entries.each do |entry|
          .contestant-info.clearfix
            .contestant-info-inner.left
              %a{:href => "#{entry_path(entry)}"}
                %img{:alt => "", :src => "#{entry.profile_photo.url(:medium)}"}/
              = render "follows/button", entry: entry
              = render "contracts/button", entry: entry
              %h3
                %a{:href => "#{entry_path(entry)}"}= entry.stage_name
              %p
                %span.genre> #{entry.genre}
                #{entry.hometown}
                %br>/
                My Evaluation
                %span= number_with_precision current_user.evaluation_for(entry).overall_score, precision: 1
            .contestant-info-stats.right
              .stats-top
                %ul.clearfix
                  %li
                    Rank
                    %strong= entry.rank
                  %li
                    Points
                    %strong= entry.points
              .stats-bottom.clearfix
                %ul
                  %li
                    Evaluations
                    %span= entry.evaluations.count
                  %li
                    Avg. Eval
                    %span= number_with_precision entry.overall_score, precision: 1
                %ul
                  %li
                    Followers
                    %span= entry.follows.count
                  %li
                    Contracts
                    %span= entry.contracts.count
                  %li
                    Invitees
                    %span= entry.user.invited_users.count
      .tab.leader-board
        .contestant-info.clearfix
          .contestant-info-inner.left
            %a{:href => "#"}
              %img{:alt => "", :src => "css/images/photo01.png"}/
            %a.follow-btn.btn{:href => "#", :rel => "Following"} Follow
            %a.sign-btn{:href => "#"}
            %h3
              %a{:href => "#"} Mogul Name
            %p
              San Francisco, CA
              %br>/
              Evaluations
              %span 9.5
              = succeed "Following" do
                %br/
              %span 39
              = succeed "Invitess" do
                %br/
              %span 5
          .contestant-info-stats.right
            .stats-top
              %ul.clearfix
                %li
                  Rank
                  %strong 1
                %li
                  Points
                  %strong 275675
            .stats-bottom.clearfix
              .contestant-images.clearfix
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo11.png"}/
                  Contestant Name
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo12.png"}/
                  Contestant Name
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo13.png"}/
                  Contestant Name
                  %span.explicit Explicit Content
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo14.png"}/
                  Contestant Name
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo15.png"}/
                  Contestant Name
        .contestant-info.clearfix
          .contestant-info-inner.left.following-contestant.signed-contestant
            %a{:href => "#"}
              %img{:alt => "", :src => "css/images/photo02.png"}/
            %a.follow-btn.btn{:href => "#", :rel => "Follow"} Following
            %a.sign-btn{:href => "#"}
            %h3
              %a{:href => "#"} Mogul Name
            %p
              San Francisco, CA
              %br>/
              Evaluations
              %span 9.5
              = succeed "Following" do
                %br/
              %span 39
              = succeed "Invitess" do
                %br/
              %span 5
          .contestant-info-stats.right
            .stats-top
              %ul.clearfix
                %li
                  Rank
                  %strong 2
                %li
                  Points
                  %strong 275675
            .stats-bottom.clearfix
              .contestant-images.clearfix
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo11.png"}/
                  Contestant Name
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo12.png"}/
                  Contestant Name
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo13.png"}/
                  Contestant Name
                  %span.explicit Explicit Content
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo14.png"}/
                  Contestant Name
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo15.png"}/
                  Contestant Name
        .contestant-info.clearfix
          .contestant-info-inner.left
            %a{:href => "#"}
              %img{:alt => "", :src => "css/images/photo03.png"}/
            %a.follow-btn.btn{:href => "#", :rel => "Follow"} Following
            %a.sign-btn{:href => "#"}
            %h3
              %a{:href => "#"} Mogul Name
            %p
              San Francisco, CA
              %br>/
              Evaluations
              %span 9.5
              = succeed "Following" do
                %br/
              %span 39
              = succeed "Invitess" do
                %br/
              %span 5
          .contestant-info-stats.right
            .stats-top
              %ul.clearfix
                %li
                  Rank
                  %strong 3
                %li
                  Points
                  %strong 275675
            .stats-bottom.clearfix
              .contestant-images.clearfix
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo11.png"}/
                  Contestant Name
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo12.png"}/
                  Contestant Name
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo13.png"}/
                  Contestant Name
                  %span.explicit Explicit Content
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo14.png"}/
                  Contestant Name
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo15.png"}/
                  Contestant Name
        .contestant-info.clearfix
          .contestant-info-inner.left.following-contestant
            %a{:href => "#"}
              %img{:alt => "", :src => "css/images/photo04.png"}/
            %a.follow-btn.btn{:href => "#", :rel => "Follow"} Following
            %a.sign-btn{:href => "#"}
            %h3
              %a{:href => "#"} Mogul Name
            %p
              San Francisco, CA
              %br>/
              Evaluations
              %span 9.5
              = succeed "Following" do
                %br/
              %span 39
              = succeed "Invitess" do
                %br/
              %span 5
          .contestant-info-stats.right
            .stats-top
              %ul.clearfix
                %li
                  Rank
                  %strong 4
                %li
                  Points
                  %strong 275675
            .stats-bottom.clearfix
              .contestant-images.clearfix
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo11.png"}/
                  Contestant Name
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo12.png"}/
                  Contestant Name
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo13.png"}/
                  Contestant Name
                  %span.explicit Explicit Content
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo14.png"}/
                  Contestant Name
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo15.png"}/
                  Contestant Name
        .contestant-info.clearfix
          .contestant-info-inner.left
            %a{:href => "#"}
              %img{:alt => "", :src => "css/images/photo01.png"}/
            %a.follow-btn.btn{:href => "#", :rel => "Following"} Follow
            %a.sign-btn{:href => "#"}
            %h3
              %a{:href => "#"} Mogul Name
            %p
              San Francisco, CA
              %br>/
              Evaluations
              %span 9.5
              = succeed "Following" do
                %br/
              %span 39
              = succeed "Invitess" do
                %br/
              %span 5
          .contestant-info-stats.right
            .stats-top
              %ul.clearfix
                %li
                  Rank
                  %strong 5
                %li
                  Points
                  %strong 275675
            .stats-bottom.clearfix
              .contestant-images.clearfix
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo11.png"}/
                  Contestant Name
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo12.png"}/
                  Contestant Name
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo13.png"}/
                  Contestant Name
                  %span.explicit Explicit Content
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo14.png"}/
                  Contestant Name
                %a{:href => "#"}
                  %img{:alt => "", :src => "css/images/photo15.png"}/
                  Contestant Name
    .main-b.main-b-edit
/ end main content area