= render "users/score"
.shell.interior
  .main.tabs-section
    .main-t.tabs-nav
      %ul.clearfix
        %li
          %a{:href => "#"} Contestants
          %span.overlay
        %li
          %a{:href => "#"} Moguls
          %span.overlay
    .main-c.tabs
      .tab
        - @entries.each do |entry|
          .contestant-info.clearfix[entry]
            .contestant-info-inner.left
              %a{:href => "#{entry_path(entry)}"}
                %img{:alt => "", :src => "#{entry.profile_photo.url(:medium)}"}/
              %h3
                %a{:href => "#{entry_path(entry)}"}= entry.stage_name
              %p
                %span.genre> #{entry.genre}
                #{entry.hometown}
                %br>/
                - if evaluation = current_user.evaluation_for(entry)
                  My Evaluation
                  %span= number_with_precision evaluation.overall_score, precision: 1
            .contestant-info-stats.right
              .stats-top
                %ul.clearfix
                  %li
                    Rank
                    %strong.rank= entry.rank
                  %li
                    Points
                    %strong.points= entry.points
              .stats-bottom.clearfix
                %ul
                  %li
                    Evaluations
                    %span= entry.evaluations.count
                  %li
                    Avg. Eval
                    %span= number_with_precision entry.overall_score, precision: 1
                %ul
                  %li
                    Followers
                    %span= entry.follows.count
                  %li
                    Contracts
                    %span= entry.contracts.count
                  %li
                    Invitees
                    %span= entry.user.invited_users.count
      .tab.leader-board
        - @users.each do |user|
          .contestant-info.clearfix
            .contestant-info-inner.left
              %a{:href => "#"}
                %img{:alt => "", :src => "#{user.profile_photo.url(:medium)}"}/
              %h3
                %a{:href => "#"}= user.username
              %p
                #{user.hometown}
                %br>/
                Evaluations
                %span= user.evaluations.count
                = succeed "Following" do
                  %br/
                %span= user.follows.count
                = succeed "Invitees" do
                  %br/
                %span= user.invited_users.count
            .contestant-info-stats.right
              .stats-top.mogul
                %ul.clearfix
                  %li
                    Rank
                    %strong= user.rank
                  %li
                    Points
                    %strong= user.points
              .stats-bottom.clearfix
                .contestant-images.clearfix
                  - user.evaluations.order("created_at desc").includes(:entry).each do |evaluation|
                    %a{:href => "#{entry_path(evaluation.entry)}"}
                      %img{:alt => "", :src => "#{evaluation.entry.profile_photo.url(:medium)}"}/
                      #{evaluation.entry.stage_name}
    .main-b.main-b-edit
/ end main content area