.main.shell
  .main-t
  .main-c
    .sign-up-steps
      %h2 Sign Up
      %p.meta Reserve Your Place As A Contestant
      .steps-nav.clearfix
        %ul
          %li
            %small.number 1
            %span
              User
              %br>/
              Info
          %li
            %small.number 2
            %span
              Verify
              %br>/
              Email
          %li.active
            %small.number 3
            %span Contestant Info
      .form-section
        = simple_form_for @entry, html: {multipart: true} do |f|
          .inner-form-section
            %h3 Contestant Information
            = f.input :stage_name, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
            = f.input :genre, collection: Entry::GENRES, wrapper_html: { class: "form-row clearfix genre" }, input_html: { class: "field" }
            = f.input :hometown, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
            = f.input :bio, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
          .inner-form-section
            %h3 Performance Video
            = f.input :title, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
            = f.input :youtube_url, label: "YouTube URL", wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
            .form-row.clearfix
              .labels
                %label.check
                  %input{name: "entry[has_music]", type: "hidden", value: "0"}
                  %input{type: "checkbox", value: "1", checked: @entry.has_music?, name: "entry[has_music]"}/
                  %span
                  Has Music
                %label.check
                  %input{name: "entry[has_vocals]", type: "hidden", value: "0"}
                  %input{type: "checkbox", value: "1", checked: @entry.has_vocals?, name: "entry[has_vocals]"}/
                  %span
                  Has Vocals
                %label.check
                  %input{name: "entry[has_explicit_content]", type: "hidden", value: "0"}
                  %input{type: "checkbox", value: "1", checked: @entry.has_explicit_content?, name: "entry[has_explicit_content]"}/
                  %span
                  Has Explicit Content
          .inner-form-section.clearfix
            %h3 Album cover photo
            .cover-image
            .custom-upload
              .upload-button
                %input.upload-field#entry_profile_photo{:type => "file", name: "entry[profile_photo]"}
                  .fake-upload
                    %p Choose File
                  %input.field.upload-value{:title => "No file chosen", :type => "text", :value => "No file chosen"}/
              .upload-info
                %p
                  You can upload a JPG, PNG, or GIF file that is no
                  %br>/
                  more that 4MB. (Do not upload pictures
                  %br>/
                  containing celebrities, nudity, artwork or images
                  = succeed "that" do
                    %br/
                  you do not own or represent the copyright for.)
          %input.btn{:type => "submit", :value => "Sign Up"}/
  .main-b
-