%h1 #{@entry.community_name} - #{@entry.song_title}
%div{"data-youtube-id" => @entry.youtube_id, id: "video_#{@entry.id}"}

- if current_user.has_evaluated?(@entry)
  #rank
    Rank #{@entry.rank}
  #points
    Points #{@entry.points}
  %table#evaluations
    %thead
      %tr
        %th Evaluations
        %th Me
        %th Community
      %tr
        %td Music
        %td #{@judging.music_score}
        %td #{number_with_precision @entry.overall_music_score, precision: 2}
      %tr
        %td Vocals
        %td #{@judging.vocals_score}
        %td #{number_with_precision @entry.overall_vocals_score, precision: 2}
      %tr
        %td Presentation
        %td #{@judging.presentation_score}
        %td #{number_with_precision @entry.overall_presentation_score, precision: 2}

  %ul.evaluations
    - @entry.judgings.order("created_at desc").each do |judging|
      %li
        = image_tag judging.user.profile_photo_square.url
        = judging.user.name
        %dl
          %dt Hometown
          %dd #{judging.user.hometown}
          %dt Evaluations
          %dd #{judging.user.judgings.count}
          %dt Average Score
          %dd #{judging.user.average_judging_score}

        %ul.scores
          %li Music #{judging.music_score}
          %li Vocals #{judging.vocals_score}
          %li Presentation #{judging.presentation_score}
          - if judging.user.follows?(@entry)
            %li Following
        %p= judging.comment
- else
  = simple_form_for [@entry, @judging] do |f|
    = f.input :music_score, as: :slider
    = f.input :vocals_score, as: :slider
    = f.input :presentation_score, as: :slider
    = f.input :comment
    = f.submit