%h1 #{@entry.community_name} - #{@entry.song_title}
- if should_show_explicit_content_warning?(@entry)
  %h2 WARNING: EXPLICIT CONTENT
%div{"data-youtube-id" => @entry.youtube_id, id: "video_#{@entry.id}"}

= render "follows/button", entry: @entry

- if current_user.has_evaluated?(@entry)
  #rank
    Rank #{@entry.rank}
  #points
    Points #{@entry.points}
  %table#evaluations
    %thead
      %tr
        %th Evaluations
        %th Me
        %th Community
      - if @entry.has_music?
        %tr
          %td Music
          %td #{@evaluation.music_score}
          %td #{number_with_precision @entry.overall_music_score, precision: 2}
      - if @entry.has_vocals?
        %tr
          %td Vocals
          %td #{@evaluation.vocals_score}
          %td #{number_with_precision @entry.overall_vocals_score, precision: 2}
      %tr
        %td Presentation
        %td #{@evaluation.presentation_score}
        %td #{number_with_precision @entry.overall_presentation_score, precision: 2}

  %ul.evaluations
    - @entry.evaluations.order("created_at desc").each do |evaluation|
      %li
        = image_tag evaluation.user.profile_photo.url(:thumb)
        = evaluation.user.profile_name.presence || "Anonymous"
        %dl
          %dt Hometown
          %dd #{evaluation.user.hometown.presence || "Unspecified"}
          %dt Evaluations
          %dd #{evaluation.user.evaluations.count}
          %dt Average Score
          %dd #{evaluation.user.average_evaluation_score}

        %ul.scores
          - if @entry.has_music?
            %li Music #{evaluation.music_score}
          - if @entry.has_vocals?
            %li Vocals #{evaluation.vocals_score}
          %li Presentation #{evaluation.presentation_score}
          - if evaluation.user.follows?(@entry)
            %li Following
        %p= evaluation.comment
- else
  = simple_form_for [@entry, @evaluation] do |f|
    - if @entry.has_music?
      = f.input :music_score, as: :slider
    - if @entry.has_vocals?
      = f.input :vocals_score, as: :slider
    = f.input :presentation_score, as: :slider
    = f.input :comment
    = f.submit