-#%h1 #{@entry.community_name} - #{@entry.song_title}
-#- if should_show_explicit_content_warning?(@entry)
-#  %h2 WARNING: EXPLICIT CONTENT
-#%div{"data-youtube-id" => @entry.youtube_id, id: "video_#{@entry.id}"}
-#
-#= render "follows/button", entry: @entry
-#
-#- if current_user.has_evaluated?(@entry)
-#  #rank
-#    Rank #{@entry.rank}
-#  #points
-#    Points #{@entry.points}
-#  %table#evaluations
-#    %thead
-#      %tr
-#        %th Evaluations
-#        %th Me
-#        %th Community
-#      - if @entry.has_music?
-#        %tr
-#          %td Music
-#          %td #{@evaluation.music_score}
-#          %td #{number_with_precision @entry.overall_music_score, precision: 2}
-#      - if @entry.has_vocals?
-#        %tr
-#          %td Vocals
-#          %td #{@evaluation.vocals_score}
-#          %td #{number_with_precision @entry.overall_vocals_score, precision: 2}
-#      %tr
-#        %td Presentation
-#        %td #{@evaluation.presentation_score}
-#        %td #{number_with_precision @entry.overall_presentation_score, precision: 2}
-#
-#  %ul.evaluations
-#    - @entry.evaluations.order("created_at desc").each do |evaluation|
-#      %li
-#        = image_tag evaluation.user.profile_photo.url(:thumb)
-#        = evaluation.user.profile_name.presence || "Anonymous"
-#        %dl
-#          %dt Hometown
-#          %dd #{evaluation.user.hometown.presence || "Unspecified"}
-#          %dt Evaluations
-#          %dd #{evaluation.user.evaluations.count}
-#          %dt Average Score
-#          %dd #{evaluation.user.average_evaluation_score}
-#
-#        %ul.scores
-#          - if @entry.has_music?
-#            %li Music #{evaluation.music_score}
-#          - if @entry.has_vocals?
-#            %li Vocals #{evaluation.vocals_score}
-#          %li Presentation #{evaluation.presentation_score}
-#          - if evaluation.user.follows?(@entry)
-#            %li Following
-#        %p= evaluation.comment
-#- else
-#  = simple_form_for [@entry, @evaluation] do |f|
-#    - if @entry.has_music?
-#      = f.input :music_score, as: :slider
-#    - if @entry.has_vocals?
-#      = f.input :vocals_score, as: :slider
-#    = f.input :presentation_score, as: :slider
-#    = f.input :comment
-#    = f.submit

/ Main Content
#main-content.left
  .video-holder
    %h3 #{@entry.community_name} - #{@entry.song_title}
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "363", :src => "http://www.youtube.com/embed/#{@entry.youtube_id}", :width => "640"}
    %a.flag-btn{:href => "#"}
      %span Flag as inappropiate
    .cl  
  - if current_user.has_evaluated?(@entry)
    #rank
      Rank #{@entry.rank}
    #points
      Points #{@entry.points}
    %table#evaluations
      %thead
        %tr
          %th Evaluations
          %th Me
          %th Community
        - if @entry.has_music?
          %tr
            %td Music
            %td #{@evaluation.music_score}
            %td #{number_with_precision @entry.overall_music_score, precision: 2}
        - if @entry.has_vocals?
          %tr
            %td Vocals
            %td #{@evaluation.vocals_score}
            %td #{number_with_precision @entry.overall_vocals_score, precision: 2}
        %tr
          %td Presentation
          %td #{@evaluation.presentation_score}
          %td #{number_with_precision @entry.overall_presentation_score, precision: 2}

    %ul.evaluations
      - @entry.evaluations.includes(:user).order("created_at desc").each do |evaluation|
        %li
          = image_tag evaluation.user.profile_photo.url(:thumb)
          = evaluation.user.profile_name.presence || "Anonymous"
          %dl
            %dt Hometown
            %dd #{evaluation.user.hometown.presence || "Unspecified"}
            %dt Evaluations
            %dd #{evaluation.user.evaluations.count}
            %dt Average Score
            %dd #{evaluation.user.average_evaluation_score}

          %ul.scores
            - if @entry.has_music?
              %li Music #{evaluation.music_score}
            - if @entry.has_vocals?
              %li Vocals #{evaluation.vocals_score}
            %li Presentation #{evaluation.presentation_score}
            - if evaluation.user.follows?(@entry)
              %li Following
          %p= evaluation.comment

  - else
    %h4 Watch the video and make an evaluation.
    .gray-box
      = simple_form_for [@entry, @evaluation] do |f|
        .top-part
          - if @entry.has_music?
            .progress-box
              = f.input :music_score, as: :hidden
              %h5 Music
              .red-progress
                .inner-progress
                  .red-line
                    %span.arrow  
                %ul
                  %li
                    %a{:href => "#"} 1
                  %li
                    %a{:href => "#"} 2
                  %li
                    %a{:href => "#"} 3
                  %li
                    %a{:href => "#"} 4
                  %li
                    %a{:href => "#"} 5
                  %li
                    %a{:href => "#"} 6
                  %li
                    %a{:href => "#"} 7
                  %li
                    %a{:href => "#"} 8
                  %li
                    %a{:href => "#"} 9
                  %li
                    %a{:href => "#"} 10
          - if @entry.has_vocals?
            .progress-box
              = f.input :vocals_score, as: :hidden
              %h5 Vocals
              .red-progress
                .inner-progress
                  .red-line  
                %ul
                  %li
                    %a{:href => "#"} 1
                  %li
                    %a{:href => "#"} 2
                  %li
                    %a{:href => "#"} 3
                  %li
                    %a{:href => "#"} 4
                  %li
                    %a{:href => "#"} 5
                  %li
                    %a{:href => "#"} 6
                  %li
                    %a{:href => "#"} 7
                  %li
                    %a{:href => "#"} 8
                  %li
                    %a{:href => "#"} 9
                  %li
                    %a{:href => "#"} 10
          .progress-box
            = f.input :presentation_score, as: :hidden
            %h5 Presentation
            .red-progress
              .inner-progress
                .red-line
                  %span.arrow  
              %ul
                %li
                  %a{:href => "#"} 1
                %li
                  %a{:href => "#"} 2
                %li
                  %a{:href => "#"} 3
                %li
                  %a{:href => "#"} 4
                %li
                  %a{:href => "#"} 5
                %li
                  %a{:href => "#"} 6
                %li
                  %a{:href => "#"} 7
                %li
                  %a{:href => "#"} 8
                %li
                  %a{:href => "#"} 9
                %li
                  %a{:href => "#"} 10
          .cl  
        .comment-box
          %h5 Comments
          = f.input :comment, label: false
        = f.submit "Submit", class: "red-btn"
        .cl  
  / END Main Content
/ Sidebar
#sidebar.right
  %a.next{:href => "#"} Next Audition
  .cl  
  .img-box
    %img{:alt => "", :height => "260", :src => "#{@entry.profile_photo.url(:medium)}", :width => "274"}/
  %h5
    Genre:
    %span= @entry.genre
  %h5
    Hometown:
    %span= @entry.hometown
  .cl  
  .ellipsis
    %p= @entry.bio
/ END Sidebar
.cl  
%br/
%br/
%br/