= content_for(:bottom_of_header) do
  = render "evaluations/progress"

/ Main Content
#main-content.left
  .video-holder
    %h3 #{@entry.community_name} - #{@entry.song_title}
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "363", :src => "http://www.youtube.com/embed/#{@entry.youtube_id}", :width => "640"}
    %a.flag-btn{:href => "#"}
      %span Flag as inappropiate
    .cl  
    - if current_user.has_evaluated?(@entry)
      .stats
        .left-part
          .stat-box
            .heading
              %span Rank
            %span.number#rank #{@entry.rank}
          .cl  
          .stat-box
            .heading
              %span Points
            %span.number#points #{@entry.points}
        .right-part
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %th.first{:style => "width:128px;"} Evaluations
              %th{:style => "width:114px;"}
                %span.me Me
              %th.last{:style => "width:114px;"}
                %span.all Community
            %tr.even
              %td.first Music
              %td #{@entry.has_music? ? @evaluation.music_score : "N/A"}
              %td.last #{@entry.has_music? ? number_with_precision(@entry.overall_music_score, precision: 1) : "N/A"}
            %tr
              %td.first Vocals
              %td #{@entry.has_vocals? ? @evaluation.vocals_score : "N/A"}
              %td.last #{@entry.has_music? ? number_with_precision(@entry.overall_vocals_score, precision: 1) : "N/A"}
            %tr.even
              %td.first Presentation
              %td #{@evaluation.presentation_score}
              %td.last #{@entry.has_music? ? number_with_precision(@entry.overall_presentation_score, precision: 1) : "N/A"}
            %tr.last
              %td.first Average
              %td #{number_with_precision @evaluation.overall_score, precision: 1}
              %td.last #{number_with_precision @entry.overall_score, precision: 1}
        .cl
  - if current_user.has_evaluated?(@entry)
    .bottom-list
      %ul
        - @entry.evaluations.includes(:user).order("created_at desc").each do |evaluation|
          %li.box
            .img-holder
              %a{:href => "#"}
                %img{:alt => "", :height => "61", :src => "#{evaluation.user.profile_photo.url(:thumb)}", :width => "61"}/
            .text-holder.left
              %a.title{:href => "#"}= evaluation.user.profile_name.presence || "Anonymous"
              .cl  
              .left-part
                %span.left-text Hometown
                %span.right-text #{evaluation.user.hometown.presence || "Unspecified"}
                .cl  
                %span.left-text Evaluations
                %span.right-text #{evaluation.user.evaluations.count}
                .cl  
                %span.left-text Avg. Score
                %span.right-text #{number_with_precision evaluation.user.average_evaluation_score, precision: 1}
                .cl  
              .right-part
                %ul
                  %li
                    %span.red #{evaluation.created_at.strftime("%m/%d/%y")}
                  %li
                    %span.red #{evaluation.created_at.strftime("%H:%M")}
                  - if @entry.has_music?
                    %li
                      %span
                        Music
                        %span.red #{evaluation.music_score}
                  - if @entry.has_vocals?
                    %li
                      %span
                        Vocals
                        %span.red #{evaluation.vocals_score}
                  %li
                    %span
                      Presentation
                      %span.red #{evaluation.presentation_score}
                %a.red-star{:href => "#"}  
                .cl  
                .ellipsis
                  %p #{evaluation.comment}        

  - unless current_user.has_evaluated?(@entry)
    %h4 Watch the video and make an evaluation.
    .gray-box
      = simple_form_for [@entry, @evaluation] do |f|
        .top-part
          - if @entry.has_music?
            = render "evaluations/slider", form: f, type: :music
          - if @entry.has_vocals?
            = render "evaluations/slider", form: f, type: :vocals
          = render "evaluations/slider", form: f, type: :presentation
          .cl  
        .comment-box
          %h5 Comments
          = f.input :comment, label: false, input_html: { rows: "5", cols: "5" }, wrapper_html: { class: "textarea-holder scrollpane" }
        = f.submit "Submit", class: "submit"
        .cl  
  / END Main Content
/ Sidebar
#sidebar.right
  %a.next{:href => "#"} Next Audition
  .cl  
  .img-box
    %img{:alt => "", :height => "260", :src => "#{@entry.profile_photo.url(:medium)}", :width => "274"}/
  %h5
    Genre:
    %span= @entry.genre
  %h5
    Hometown:
    %span= @entry.hometown
  %h5
    Followers:
    %span= @entry.follows.count
  .cl  
  .ellipsis
    %p= @entry.bio
  - if show_social?(@entry)
    .social-holder
      %ul
        - if @entry.facebook?
          %li
            %a.facebook{:href => "#{@entry.facebook}"}  
        - if @entry.twitter?
          %li
            %a.twitter{:href => "#{@entry.twitter}"}  
        - if @entry.pinterest?
          %li
            %a.pinterest{:href => "#{@entry.pinterest}"}  
        - if @entry.youtube?
          %li
            %a.youtube{:href => "#{@entry.youtube}"}  
        - if @entry.website?
          %li
            %a.global{:href => "#{@entry.website}"}  
      .cl  
/ END Sidebar
.cl  
