.shell.interior
  .main
    .main-t
    .main-c
      .contestant-info[@entry]
        %a{:href => "#"}
          %img{:alt => "", :src => "#{@entry.profile_photo.url(:medium)}"}/
        %h3
          %a{:href => "#"} #{@entry.stage_name}
        - unless @evaluation.new_record?
          = render "follows/button", entry: @entry
          = render "contracts/button", entry: @entry
        .contestant-info-inner.clearfix
          .left-info
            %p.genre #{@entry.genre}
            %p.city #{@entry.hometown}
          .right-info
            - unless @evaluation.new_record?
              .social-icos
                - if @entry.facebook != Entry.columns_hash["facebook"].default
                  %a.ico.fb-ico{href: "#{@entry.facebook}", target: "_blank"}
                - if @entry.twitter != Entry.columns_hash["twitter"].default
                  %a.ico.tw-ico{href: "#{@entry.twitter}", target: "_blank"}
                - if @entry.youtube != Entry.columns_hash["youtube"].default
                  %a.ico.yt-ico{href: "#{@entry.youtube}", target: "_blank"}
            %p #{@entry.bio}
    .main-b.main-b-edit
  .main
    .main-t
    .main-c
      .contestant-songs
        %ul
          - if @previous_entry
            %li= link_to "prev", @previous_entry
          %li
            %h3 #{@entry.title}
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "363", :src => "http://www.youtube.com/embed/#{@entry.youtube_id}", :width => "640"}
          - if @next_entry.present?
            %li= link_to "next", @next_entry
    .main-b.main-b-edit
  - if current_user.fan?
    - if current_user.has_evaluated?(@entry)
      .main
        .main-t
        .main-c
          .evaluations
            %h3 My Evaluation
            .evaluation-sliders.clearfix
              - if @entry.has_vocals?
                = render "evaluations/slider", type: :vocals, disabled: true
              - if @entry.has_music?
                = render "evaluations/slider", type: :music, disabled: true
              = render "evaluations/slider", type: :presentation, disabled: true
            .evaluation-comment
              %label{:for => "eval-comment-field"} Comment
              %p= @evaluation.comment
        .main-b.main-b-edit
    - else
      .main
        .main-t
        .main-c
          .evaluations
            = simple_form_for [@entry, @evaluation] do |f|
              %h3 Watch the video and make your evaluations
              .evaluation-sliders.clearfix
                - if @entry.has_vocals?
                  = render "evaluations/slider", form: f, type: :vocals
                - if @entry.has_music?
                  = render "evaluations/slider", form: f, type: :music
                = render "evaluations/slider", form: f, type: :presentation
              .evaluation-comment
                %label{:for => "eval-comment-field"} Comment
                %textarea#eval-comment-field.field{:name => "evaluation[comment]", :title => Evaluation::COMMENT_PROMPT}= Evaluation::COMMENT_PROMPT
                %input.submit.btn{:type => "submit", :value => "Submit"}/
        .main-b.main-b-edit