.main.shell
  .account-nav.clearfix
    %h3 Account
    %ul
      %li
        %a{href: "#{edit_user_path(current_user)}"} Profile
      %li.active
        %a{href: "#{friends_path}"} Friends
  .main-t
  .main-c
    .sign-up-steps.account-edit
      .referal-link
        %h3 My Referal Link
        .referal-link-holder.clearfix
          %input.field{type: "text", value: current_user.shortened_referral_link.presence || current_user.referral_link, disabled: "disabled"}/
          %a.btn.copy{href: "#"} Copy to clipboard
        %p
          Our first contests will be
          = succeed "." do
            %strong Invite Only
          We want to build an exculsive community of
          %br>/
          fans and musicans that are dedicated to helping us make Music Mogul great.
        %p
          Use this link to invite people who not only benefit from and enjoy Music Mogul,
          = succeed "but" do
            %br/
          who will also help us build the community and refine the features of the contest.
        %p Thanks!
      .friends-list.referals-list
        %h3
          My Referrals (
          %span> #{@invited_users.count}
          )
        %p
          Players who have accepted my invitation to Music Mogul.
          %br>/
          Referrals Remaining This Contest:
          %span.count #{current_user.invitation_limit - @invited_users.count}
        - if @invited_users.count > 0
          .table-holder
            %table{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
              %tr
                %th{width: "17"} #
                %th{width: "118"} Registration<br/>Date
                %th{width: "47"} Picture
                %th{width: "70"} Username
                %th{width: "87"} Stage Name
                %th{width: "77"} Role
                %th{width: "145"} Evaluations<br/>Given Or Recieved
              - @invited_users.each_with_index do |user, index|
                %tr
                  %td= index + 1
                  %td= user.created_at.strftime("%m/%d/%y")
                  %td= image_tag(user.photo.url(:thumb))
                  %td= user.username
                  %td= user.entries.present? ? user.entries.first.stage_name : ""
                  %td= user.musician? ? "Contestant" : "Judge"
                  %td= user.musician? ? user.entries.first.evaluations.count + user.evaluations.count : user.evaluations.count

      - if current_user.entries.count > 0
        .friends-list.followers-list
          %h3
            My Followers (
            %span> #{current_user.entries.first.followers.count}
            )
          - if current_user.entries.first.followers.count > 0
            .table-holder
              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                %tr
                  %th #
                  %th Registration Date
                  %th Picture
                  %th Username
                  %th Evaluations Given Or Recieved
                - current_user.entries.first.followers.each_with_index do |user, index|
                  %tr
                    %td= index + 1
                    %td= user.created_at.strftime("%m/%d/%y")
                    %td= image_tag(user.photo.url(:thumb))
                    %td= user.username
                    %td= user.musician? ? user.entries.first.evaluations.count + user.evaluations.count : user.evaluations.count
  .main-b
