<h2>My account</h2>

<div class="tabs-holder">
  <ul class="tabset">
    <li><a href="#profile" class="tab"><span class="tab-profile">Profile</span></a></li>
    <li><a href="#musicians" class="tab"><span class="tab-musicians">Musicians</span></a></li>
  </ul>
  <div class="tab-content" id="profile">
    <div class="tab-holder">
      <div class="tab-frame">
        <div class="messages"></div>
        <%= simple_form_for @user, :url => account_path do |f| %>
            <div class="title-row">
              <h3>Profile settings</h3>
              <div class="btn-holder"><%= f.submit 'Save', :class => 'button-save' %></div>
            </div>
            <%= f.input :profile_name, label: "Player name" %>
            <%= f.input :email, label: "Email*", hint: 'A confirmation email will be sent if changed' %>
            <%= f.input :password %>
            <%= f.input :password_confirmation %>
            <%= f.input :hometown %>
            <%= f.input :birth_date, start_year: Date.today.year - 100, end_year: Date.today.year - 13, order: [:month, :day, :year], include_blank: true %>
            <%= f.input :gender, as: :radio_buttons, collection: ['Male', 'Female'] %>
            <%= f.input :show_explicit_videos %>
            <%= f.input :receive_email_updates %>
            <% if current_user.profile_photo? %>
                <%= image_tag current_user.profile_photo.url(:thumb) %>
            <% end %>
            <%= f.input :profile_photo %>
            <div class="submit-row">
              <%= f.submit 'Save', :class => 'button-save' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-content" id="musicians">
    <div class="tab-holder">
      <div class="tab-frame">
        <div class="messages"></div>
        <%= simple_form_for @entry do |f| %>
            <div class="title-row">
              <h3>Musician settings</h3>
              <div class="btn-holder"><%= f.submit 'Save', :class => 'button-save' %></div>
            </div>
            <%= f.input :community_name, label: "Stage name" %>
            <%= f.input :genre, collection: Contest::GENRES %>
            <%= f.input :hometown %>
            <%= f.input :bio %>
            <%= f.input :youtube_url, label: "Youtube URL" %>
            <%= f.input :song_title %>
            <%= f.input :profile_photo %>
            <%= f.input :facebook %>
            <%= f.input :twitter %>
            <%= f.input :youtube %>
            <%= f.input :pinterest %>
            <%= f.input :website %>
            <div class="submit-row">
              <%= f.submit 'Save', :class => 'button-save' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>