<div class="breadcrumbs-holder">
  <ul id="breadcrumbs">
    <li><a class="home" href="<%= root_path %>"><span>Home</span></a></li>
    <li><span>My Account</span></li>
  </ul>
</div>
<div class="profile-box">
  <h2>My account</h2>
  <div class="tabs-holder">
    <ul class="tabset">
      <li><a href="#tab-1" class="tab"><span class="tab-details">Account Details</span></a></li>
      <li><a href="#tab-2" class="tab"><span class="tab-profile">Public Profile</span></a></li>
      <li><a href="#tab-3" class="tab"><span class="tab-judge">Judge</span></a></li>
      <li><a href="#tab-4" class="tab"><span class="tab-contestant">Contestant</span></a></li>
    </ul>
    <div class="tab-content" id="tab-1">
      <div class="tab-holder">
        <div class="tab-frame">
          <div class="messages"></div>
          <%= semantic_form_for current_user, :url => account_path(:format => :json), :remote => true do |f| %>
            <%= f.inputs :class => 'profile-form' do %>
              <%= f.input :current_tab, :as => :hidden, :input_html => { :value => 'details' } %>
              <div class="title-row">
                <h3>Private account settings</h3>
                <div class="btn-holder"><%= f.submit 'Save', :class => 'button-save' %></div>
              </div>
              <div class="text-box">
                <p>This information is not shown anywhere on the site.</p>
              </div>
              <%= f.input :email %>
              <%= f.input :password %>
              <%= f.input :birth_year %>
              <li class="select input optional" id="user_country_input">
                <label class="label" for="user_country"><%= User.human_attribute_name(:country) %></label>
                <%= country_select('user','country', ['United States','Canada','Mexico','United Kingdom']) %>
              </li>
              <%= f.input :zip %>
              <%= f.input :gender, :as => :radio, :collection => ['Male','Female'] %>
              <div class="submit-row">
                <%= f.actions :class => 'submit-holder' do %>
                  <%= f.submit 'Save', :class => 'button-save' %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-content" id="tab-2">
      <div class="tab-holder">
        <div class="tab-frame">
          <div class="messages"></div>
          <%= semantic_form_for current_user, :url => account_path(:anchor => 'tab-2'), :html => { 'data-non-ajax' => true } do |f| %>
            <%= f.inputs :class => 'profile-form' do %>
              <%= f.input :current_tab, :as => :hidden, :input_html => { :value => 'profile' } %>
              <div class="title-row">
                <h3>Public account settings</h3>
                <div class="btn-holder"><%= f.submit 'Save', :class => 'button-save' %></div>
              </div>
              <div class="text-box">
                <p>This information is displayed throughout the site.</p>
              </div>
              <%= f.input :profile_name %>
              <%= f.input :hometown %>
              <%= f.input :bio, :as => :text, :input_html => { :rows => 6 } %>
              <div class="picture-box">
                <h4>Profile Picture</h4>
                <div class="holder">
                  <div class="picture-holder">
                    <% if current_user.profile_photo_square? %>
                      <div class="profile-photo-box">
                        <%= image_tag current_user.profile_photo_square.cropped, :width => '240', :height => '240', :class => 'profile-photo-square' %>
                        <a href="#edit-thumbnail" class="lightbox crop">Click to crop photo</a>
                      </div>
                      <%= f.hidden_field :remove_profile_photo_square %>
                      <a href="#" class="btn-delete">Delete current image</a>
                    <% end %>
                  </div>
                  <div class="file-box">
                    <p>Click below to select a new album photo.</p>
                    <div class="file-row">
                      <%= f.input :profile_photo_square, :as => :file, :label => false %>
                      <div class="format-types">jpeg, png or gif, max 4mb</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="video-box">
                <h4>Profile Video</h4>
                <div class="holder">
                  <% if current_user.profile_video? %>
                    <div class="picture-holder">
                      <div class="video-holder">
                        <video class="video-js vjs-default-skin" controls preload="auto" width="242" height="148" data-setup="{}">
                          <source src="<%= video_path "https://s3.amazonaws.com/fanhelp.mvp/#{current_user.profile_video}" %>" type='video/mp4'>
                        </video>
                      </div>
                      <%= f.hidden_field :remove_profile_video %>
                      <a href="#" class="btn-delete">Delete current video</a>
                    </div>
                  <% end %>
                  <div class="file-box">
                    <p>Click ‘browse to select a new video, then ‘upload’ to add the video to your profile.</p>
                    <div class="file-row">
                      <div class="uploader" data-s3-bucket="<%= S3DirectRails.s3_uploader_bucket %>">
                        <%= s3_uploader(:uploaded_files_path => "uploads/user/profile_video/#{current_user.id}", :create_resource_url => account_profile_video_path) %>
                        <div class="uploading_files"></div>
                        <div class="format-types">.mpeg .flv or .mov, max 5GB</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="social-box">
                <h4>Social Accounts</h4>
                <%= f.input :facebook %>
                <%= f.input :twitter %>
                <%= f.input :youtube %>
              </div>
              <div class="submit-row">
                <%= f.actions :class => 'submit-holder' do %>
                  <%= f.submit 'Save', :class => 'button-save' %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-content" id="tab-3">
      <div class="tab-holder">
        <div class="tab-frame">
          <div class="messages"></div>
          <%= semantic_form_for current_user, :url => account_path(:format => :json), :remote => true do |f| %>
            <%= f.input :current_tab, :as => :hidden, :input_html => { :value => 'judge' } %>
            <div class="title-row title-row-2">
              <h3>Judge</h3>
              <div class="btn-holder"><%= f.submit 'Save', :class => 'button-save' %></div>
            </div>
            <%= f.semantic_fields_for :judgings, current_user.judging do |judging| %>
              <%= f.inputs :class => 'judge-form' do %>
                <%= judging.input :active, :as => :radio, :collection => [['Yes',true],['No',false]], :wrapper_html => { :class => 'radio-row' } %>
                <div class="checkbox-row judge-fields"><%= judging.input :genres_array, :as => :check_boxes, :collection => Contest::GENRES, :wrapper_html => { :class => 'checkbox-holder' } %></div>
                <div class="submit-row">
                  <%= f.actions :class => 'submit-holder' do %>
                    <%= f.submit 'Save', :class => 'button-save' %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-content" id="tab-4">
      <div class="tab-holder">
        <div class="tab-frame">
          <div class="messages"></div>
          <%= semantic_form_for current_user, :url => account_path(:anchor => 'tab-4'), :html => { 'data-non-ajax' => true } do |f| %>
            <%= f.input :current_tab, :as => :hidden, :input_html => { :value => 'contestants' } %>
            <div class="title-row title-row-2">
              <h3>Contestant</h3>
              <div class="btn-holder"><%= f.submit 'Save', :class => 'button-save' %></div>
            </div>
            <%= f.semantic_fields_for :entries, current_user.entry do |entry| %>
              <%= f.inputs :class => 'contestant-form' do %>
                <%= entry.input :active, :as => :radio, :collection => [['Yes',true],['No',false]], :wrapper_html => { :class => 'radio-row' } %>
                <div class="form-box">
                  <%= entry.input :artist_type, :as => :select, :collection => Entry::ARTIST_TYPES, :include_blank => false, :input_html => { :class => 'select-2' } %>
                  <div class="genres-row checkbox-row">
                    <%= entry.input :genre, :as => :select, :collection => Contest::GENRES %>
                    <div id="genres-confirm-text">
                      <strong>Note:</strong> It's ok to compete in multiple genres. We encourage it because it allows you more exposure and financial opportunities. However, know that <strong>each genre is a separate contest</strong>. Each week you'll have to submit a performance video for each genre.
                    </div>
                  </div>
                </div>
                <div class="audition-box">
                  <h4>Preview Performance (will not be judged)</h4>
                  <%= entry.input :audition_type, :as => :select, :collection => Entry::ENTRY_TYPES, :include_blank => false, :input_html => { :class => 'select-2' } %>
                  <%= entry.input :song_title %>
                  <div class="video-box">
                    <% if current_user.entry.performance_video? %>
                      <div class="picture-holder">
                        <div class="video-holder">
                          <video class="video-js vjs-default-skin" controls preload="auto" width="242" height="148" data-setup="{}">
                            <source src="<%= video_path "https://s3.amazonaws.com/fanhelp.mvp/#{current_user.entry.performance_video}" %>" type='video/mp4'>
                          </video>
                        </div>
                        <%= entry.hidden_field :remove_performance_video %>
                        <a href="#" class="btn-delete">Delete current video</a>
                      </div>
                    <% end %>
                    <div class="file-box">
                      <p>Click ‘browse to select a new video, then ‘upload’ to add the video to your profile.</p>
                      <div class="file-row">
                        <div class="uploader" data-s3-bucket="<%= S3DirectRails.s3_uploader_bucket %>">
                          <%= s3_uploader(:uploaded_files_path => "uploads/entry/performance_video/#{current_user.entry.id}", :create_resource_url => account_entry_performance_video_path) %>
                          <div class="uploading_files"></div>
                          <div>.mpeg .flv or .mov, max 20mb</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr />
                  <p>Instead of uploading a video, you could also copy and paste a Youtube video URL here:</p>
                  <%= entry.input :youtube_url %>
                </div>
                <div class="gift-box">
                  <h4>Career Support</h4>
                  <!--
                  <div class="text-block">
                    <p>What equipment (or amount of cash) would advance your musical career and why?</p>
                  </div>

                  <% # entry.input :gift_name %>
                  <% # entry.input :gift_description, :as => :text %>
                  <% # entry.input :gift_value %>
                  -->

                  <%= entry.input :kickstarter %>
                  <%= entry.input :pledgemusic %>
                </div>
                <div class="submit-row">
                  <%= f.actions :class => 'submit-holder' do %>
                    <%= f.submit 'Save', :class => 'button-save' %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if current_user.profile_photo_square? %>
  <div class="popup-holder">
    <div class="lightbox popup" id="edit-thumbnail"><%= render 'users/edit_thumbnail' %></div>
  </div>
<% end %>
