.main.shell
  .account-nav.clearfix
    %h3 Account
    %ul
      %li.active
        %a{href: "#{edit_user_path(current_user)}"} Profile
      %li
        %a{href: "#{friends_path}"} Friends
  .main-t
  .main-c
    .sign-up-steps.account-edit
      .form-section
        = simple_form_for @user, url: user_path(current_user), html: {multipart: true} do |f|
          .inner-form-section
            %h3 Personal Information
            = f.input :username, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
            = f.input :email, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
            = f.input :hometown, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
            = f.input :time_zone, :priority => /US/, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
            .form-row.clearfix.labels-row
              %label.check
                %input{name: "user[receive_email_updates]", type: "hidden", value: "0"}
                %input{name: "user[receive_email_updates]", value: "1", checked:  @user.receive_email_updates?, type: "checkbox"}/
                %span
                Send me contest updates via email
            .form-row.clearfix.labels-row
              %label.check
                %input{name: "user[show_explicit_videos]", type: "hidden", value: "0"}
                %input{name: "user[show_explicit_videos]", value: "1", checked: @user.show_explicit_videos?, type: "checkbox"}/
                %span
                Show videos with explicit content
          .inner-form-section.clearfix
            %h3 Profile Photo
            - if current_user.photo.present?
              = image_tag(current_user.photo.medium.url, class: "cover-image")
            - else
              .cover-image
            .custom-upload
              .upload-button
                %input.upload-field#user_profile_photo{type: "file", name: "user[profile_photo]"}
                  .fake-upload
                    %p #{f.object.profile_photo? ? "Change File" : "Choose File"}
                  %input.field.upload-value{type: "text", value: "#{f.object.profile_photo? ? f.object.profile_photo.file.filename : "No file chosen"}", readonly: "readonly"}/
              .upload-info
                %p
                  %em
                    You can upload a JPG, PNG, or GIF file that is no
                    %br>/
                    more that 2MB. (Do not upload pictures
                    %br>/
                    containing celebrities, nudity, artwork or images
                    = succeed "that" do
                      %br/
                    you do not own or represent the copyright for.)
          .inner-form-section
            %h3 Change Your Password
            = f.input :password, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
            = f.input :password_confirmation, label: "Confirm password", wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
          %input.btn{:type => "submit", :value => "Save Profile"}/
  .main-b
