.countdown{"data-end-date" => (Time.zone.parse("1/13/2013")).to_i, "data-now" => Time.now.to_i, "data-seconds" => Time.now.strftime("%S")}
  .countdown-t
  .countdown-c
    %h2 Contest Starts 1/13/13
    .clock.clearfix
      .clock_days.clock_box
        .bgLayer
          %canvas#canvas_days{width: 133, height: 133}
          .text
            %p.val 0
            %p.type_days Days
      .clock_hours.clock_box
        .bgLayer
          %canvas#canvas_hours{width: 133, height: 133}
          .text
            %p.val 0
            %p.type_hours Hours
      .clock_minutes.clock_box
        .bgLayer
          %canvas#canvas_minutes{width: 133, height: 133}
          .text
            %p.val 0
            %p.type_minutes Minutes
      .clock_seconds.clock_box
        .bgLayer
          %canvas#canvas_seconds{width: 133, height: 133}
          .text
            %p.val 0
            %p.type_days Seconds

    .info
      - if user_signed_in?
        - if current_user.musician?
          .referal-link.clearfix
            %h3 Increase your chance of winning the $250 first prize!
            .referal-info
              %p Use your referral link to invite your followers. The first 25 to register can judge the contest.
              %a.learn-more{href: "#{learn_more_path}"} Learn More >>
            .referal-link-holder
              %input.field{type: "text", value: current_user.shortened_referral_link.presence || current_user.referral_link, disabled: "disabled"}/
              %a.btn.copy{href: "#"} Copy referral link to clipboard
              %p
                Invites Accepted/Available
                %span #{current_user.invited_users.count}/#{current_user.invitation_limit}
        - else
          .referal-link.clearfix
            %h3 Make the contest better!
            .referal-info
              %p Use your referral link to invite 5 friends to judge the contest.
              %a.learn-more{href: "#{learn_more_path}"} Learn More >>
            .referal-link-holder
              %input.field{type: "text", value: current_user.shortened_referral_link.presence || current_user.referral_link, disabled: "disabled"}/
              %a.btn.copy{href: "#"} Copy referral link to clipboard
              %p
                Invites Accepted/Available
                %span #{current_user.invited_users.count}/#{current_user.invitation_limit}
      - else
        %p
          Open to <span>625 judges</span> and <span>25 contestants</span>.
          = link_to "Learn more &gt;&gt;".html_safe, learn_more_path
        - if @inviter
          %h3 Invited by <span>( #{@inviter.username} )</span>
        .sign-up-options.clearfix
          .sign-up-option
            = link_to "Fans", new_user_registration_path(type: "fan"), class: "btn"
            %p Sign up to judge
          .sign-up-option
            = link_to "Musicians", new_user_registration_path(type: "musician"), class: "btn"
            %p Sign up to compete
  .countdown-b