.main.shell
  .main-t
  .main-c
    .about
      %h2 About Us
      %p Our mission is to help unheralded singers and bands to advance their career in professional music.
      %p We think the best way to help is to provide a fun way for music fans to meet and support their next favorite singers and bands.
      %p
        The Music Mogul game has been designed by a dedicated group of consultants who are passionate about music and helping
        %br>/
        musicians. You can see their care and talent in the site. Don’t hesitate to consider them for any projects that would benefit from
        %br>/
        their skills.
      .about-listing
        .about-entry
          %img{:alt => "", :src => "assets/blankImg.png"}/
          %h4
            %a{:href => "#"} Phyllip Hall
          .person-details.clearfix
            %em.city
              %small.ico
              = link_to "Detroit, MI", "http://en.wikipedia.org/wiki/Detroit"
            %em.email
              %small.ico
              = link_to "phyllip@musicmogul.com", "mailto:phyllip@musicmogul.com"
            %em.twitter
              %small.ico
              = link_to "phylliphall", "http://twitter.com/phylliphall"
            %em.website
              %small.ico>
              = link_to "musicmogul.com", "http://musicmogul.com"
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        .about-entry
          %img{:alt => "", :src => "assets/michael.jpg"}/
          %h4
            %a{:href => "#"} Michael Haddad
          .person-details.clearfix
            %em.city
              %small.ico
              = link_to "Detroit, MI", "http://en.wikipedia.org/wiki/Detroit"
            %em.email
              %small.ico
              = link_to "michael@ludditetechnology.com", "mailto:michael@ludditetechnology.com"
            %em.twitter
              %small.ico
              = link_to "mrhaddad", "http://twitter.com/mrhaddad"
            %em.website
              %small.ico>
              = link_to "ludditetechnology.com", "http://ludditetechnology.com"
          %p Michael is our lead developer.  He draws on <a href="http://www.linkedin.com/in/michaelhaddad">several years of experience</a> working as a software engineer with non-profits, startups, and large corporations.  Outside of work, Michael enjoys <a href="http://www.bootynonstop.com">piano</a> and <a href="http://www.smashrun.com/mrhaddad">running</a>.
        .about-entry
          %img{:alt => "", :src => "assets/blankImg.png"}/
          %h4
            %a{:href => "#"} Name
          .person-details.clearfix
            %em.city
              %small.ico
              City, State (or Country)
            %em.email
              %small.ico
              Email
            %em.twitter
              %small.ico
              Twitter
            %em.website
              %small.ico>
              Website
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
  .main-b

-#%p Our mission is to help unheralded singers and bands to advance their career in professional music.
-#%p We think the best way to help is to provide a fun way for music fans to meet and support their next favorite singers and bands
-#%p The Music Mogul game has been designed by a dedicated group of consultants who are passionate about music and helping musicians. You can see their care and talent in the site. Don’t hesitate to condider them for any projects that benefit from their skills.
-#%ul.descr-list
-#  %li.gray-line
-#    .img-hold
-#      %img{:alt => "", :height => "116", :src => "css/images/empty-img.png", :width => "116"}/
-#    .text-hold
-#      %span.name Phyllip Hall
-#      %ul
-#        %li
-#          %a.location{:href => "#"} Detroit, MI
-#        %li
-#          %a.email{:href => "mailto:Phyllip@musicmogul.com"} Phyllip@musicmogul.com
-#        %li
-#          %a.twitter{:href => "#"} phylliphall
-#        %li
-#          %a.website{:href => "#"} www.musicmogul.com
-#      %p Phasellus sed mi id eros feugiat ullamcorper. Proin eleifend semper volutpat. Donec at tellus metus. Phasellus ac augue porttitor massa pulvinar interdum ac sit amet libero. Class aptent taciti sociosqu ad litora torquent per
-#    .cl  
-#  %li
-#    .img-hold
-#      %img{:alt => "", :height => "116", :src => "assets/michael.jpg", :width => "116"}/
-#    .text-hold
-#      %span.name Michael Haddad
-#      %ul
-#        %li
-#          %a.location{:href => "http://en.wikipedia.org/wiki/Detroit"} Detroit, MI
-#        %li
-#          %a.email{:href => "mailto:michael@ludditetechnology.com"} michael@ludditetechnology.com
-#        %li
-#          %a.twitter{:href => "http://www.twitter.com/mrhaddad"} mrhaddad
-#        %li
-#          %a.website{:href => "http://www.ludditetechnology.com"} www.ludditetechnology.com
-#      %p Michael is our lead developer.  He draws on <a href="http://www.linkedin.com/in/michaelhaddad">several years of experience</a> working as a software engineer with non-profits, startups, and large corporations.  Outside of work, Michael enjoys <a href="http://www.bootynonstop.com">piano</a> and <a href="http://www.smashrun.com/mrhaddad">running</a>.
-#    .cl  
-#  %li.gray-line
-#    .img-hold
-#      %img{:alt => "", :height => "116", :src => "css/images/empty-img.png", :width => "116"}/
-#    .text-hold
-#      %span.name Name
-#      %ul
-#        %li
-#          %a.location{:href => "#"} Detroit, MI
-#        %li
-#          %a.email{:href => "mailto:Phyllip@musicmogul.com"} Phyllip@musicmogul.com
-#        %li
-#          %a.twitter{:href => "#"} phylliphall
-#        %li
-#          %a.website{:href => "#"} www.musicmogul.com
-#      %p Phasellus sed mi id eros feugiat ullamcorper. Proin eleifend semper volutpat. Donec at tellus metus. Phasellus ac augue porttitor massa pulvinar interdum ac sit amet libero. Class aptent taciti sociosqu ad litora torquent per
-#    .cl  