= render "home/countdown"

.main.shell
  .main-t
  .main-c.contestants
    .contestants
      %h3 Registered Contestants
      #largeImage.largeContainer
      #foo
        %ul#tiles
          - @entries.each do |entry|
            %li{"data-large" => entry.profile_photo.url(:large)}
              .front
                = image_tag entry.profile_photo.url(:masonry), width: entry.masonry_width, height: entry.masonry_height
                %p= entry.stage_name
              .back
                %h4= entry.stage_name
                %p= entry.genre
                %p= entry.hometown
                %p= entry.bio
  .main-b

- if current_user.try(:musician?)
  .main.shell
    .main-t
    .main-c
      %p Points: #{current_user.points}
    .main-b