- if user_signed_in? and contest_started?
  = content_for(:bottom_of_header) do
    = render "evaluations/progress"

#heading-block
  %h2#heading
    A Music Talent Search Contest Judged Entirely by Fans.
  %h4#subheading
    Open only to the first 25 contestants
    and 625 fans who register.
    Begins 12/30/12.
    = link_to "Learn More", "/"

  = image_tag "homepage/microphone.png", id: "microphone"
.clear

// Countdown Block
= render "countdown"

- if user_signed_in? and contest_pending?
  // The block that allows users to refer friends
  = render "referrals"
- else
  // The sign-up links
  = render "sign-up"
.clear

// Pinterest-Style Contestant Photos
= render "contestant_photos"

= render "entries/list", entries: @entries
