- if user_signed_in?
  = content_for(:bottom_of_header) do
    = render "evaluations/progress"

#heading-block
  %h2#heading
    A Music Talent Search Contest Judged Entirely by Fans.
  %h4#subheading
    Open only to the first 25 contestants
    and 625 fans who register.
    Begins 12/30/12.
    = link_to "Learn More", "/"

  = image_tag "homepage/microphone.png", id: "microphone"
.clear

#countdown-block

  / Countdown dashboard start
  #countdown_dashboard
    .dash.days_dash
      %span.dash_title days
      .digit 0
      .digit 0
    .dash.hours_dash
      %span.dash_title hours
      .digit 0
      .digit 0
    .dash.minutes_dash
      %span.dash_title minutes
      .digit 0
      .digit 0
    .dash.seconds_dash
      %span.dash_title seconds
      .digit 0
      .digit 0

  #contest-begins
    The contest
    %br
    begins in...

- unless user_signed_in?
  - if @inviter
    %h4#invited-by Invited by #{@inviter.username}
  #sign-up
    %h3 Sign Up!
    = link_to "Musician", new_user_registration_path(type: "musician"), class: "sign-up"
    = link_to "Fan", new_user_registration_path(type: "fan"), class: "sign-up"
  .clear
  %h5#sign-up-detail
    Sign up as either a
    %span.highlight musician
    to compete in the contest, or a
    %span.highlight fan
    to judge it.

.cl

= render "entries/list", entries: @entries
