- if user_signed_in? and contest_started?
  = content_for(:bottom_of_header) do
    = render "evaluations/progress"

- unless user_signed_in?
  #holder
    .head
      %h4
        Contest begins
        %strong 12/30/12
    .body
      .clock{"data-end-date" => (Time.zone.parse("12/30/2012")).to_i, "data-now" => Time.now.to_i, "data-seconds" => Time.now.strftime("%S")}
        / Days
        .clock_days.clock_box
          .bgLayer
            .topLayer
            %canvas#canvas_days{:height => "188", :width => "188"}
            .text
              %p.val 0
              %p.type_days Days
        / Days
        / Hours
        .clock_hours.clock_box
          .bgLayer
            .topLayer
            %canvas#canvas_hours{:height => "188", :width => "188"}
            .text
              %p.val 0
              %p.type_hours Hours
        / Hours
        / Minutes
        .clock_minutes.clock_box
          .bgLayer
            .topLayer
            %canvas#canvas_minutes{:height => "188", :width => "188"}
            .text
              %p.val 0
              %p.type_minutes Minutes
        / Minutes
        / Seconds
        .clock_seconds.clock_box
          .bgLayer
            .topLayer
            %canvas#canvas_seconds{:height => "188", :width => "188"}
            .text
              %p.val 0
              %p.type_seconds Seconds
        / Seconds
        .cl  
      .info
        %p
          Open to
          %span 626 judges
          and
          %span 25 contestants.
          %a{:href => "#{learn_more_path}"} Learn more »
        - if @inviter
          %h4 Invited by #{@inviter.username}
        .buttons
          %ul
            %li
              %a.button{:href => "#{new_user_registration_path(type: "fan")}"} Fans
              %span Sign Up to judge
            %li
              %a.button{:href => "#{new_user_registration_path(type: "musician")}"} Musicians
              %span Sign Up to compete
          .cl  

- if user_signed_in?
  = render "referrals"
  = render "contestant_photos"
