= content_for(:bottom_of_header) do
  .red-box
    .left-side  
    .cl  
    %span.notice Notices
    .cl  
    .right-side  

.tabs
  %ul
    %li.active
      %a{:href => "#about"} About Us
    %li
      %a{:href => "#contact"} Contact Us
    %li
      %a{:href => "#terms"} Terms
    %li
      %a{:href => "#privacy"} Privacy
  .cl  
#about.tab-box
  = render "home/about"
#contact.tab-box
  = render "home/contact"
#terms.tab-box
  = render "home/terms"
#privacy.tab-box
  = render "home/privacy"