
<div class="breadcrumbs-holder">
<ul id="breadcrumbs">
	<li><a class="home" href="<%= root_path %>"><span>Home</span></a></li>
<li><span>Notices</span></li>
</ul>
</div>
<div class="notice-box">
<h2>Notices</h2>
<div class="tabs-holder">
<ul class="tabset">
	<li><a href="#tab-5" class="tab"><span class="tab-about">About</span></a></li>
  <li><a href="#tab-6" class="tab <%= @contact_selected ? 'active' : '' %>"><span class="tab-contact">Contact</span></a></li>
	<li><a href="#tab-7" class="tab"><span class="tab-terms">Terms</span></a></li>
	<li><a href="#tab-8" class="tab"><span class="tab-privacy">Privacy</span></a></li>
</ul>
<div class="tab-content" id="tab-5">
	<div class="tab-holder">
		<div class="tab-frame tab-frame-2">
			<div class="title-row">
				<h3><span class="mask">Our mission</span></h3>
			</div>
			<div class="text-box">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et posuere eu, scelerisque at nulla. Fusce facilisis adipiscing tellus, vitae scelerisque nibh commodo in. Suspendisse mauris ipsum, placerat non elementum at, elementum et orci. Mauris vitae turpis nisi, sit amet aliquam purus. Donec quis luctus nulla.</p>
			</div>
			<div class="title-row">
				<h3><span class="mask">Contributors</span></h3>
			</div>
			<div class="carousel-2">
				<a href="#" class="btn-prev">Prev</a>
				<a href="#" class="btn-next">Next</a>
				<div class="frame">
					<ul class="slide-list">
						<li>
							<div class="avatar"><img src="/assets/img-13.gif" alt="image description" width="189" height="169" /></div>
							<div class="name-box">
								<img src="/assets/ico-flag.gif" alt="image description" />
								<div class="box">
									<span class="name">Phyllip Hall</span>
									<span>Role</span>
								</div>
							</div>
							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et.</p>
							</div>
							<ul class="links-list">
								<li><a href="#">www.webaddress.com</a></li>
								<li><a class="email-link" href="mailto:&#112;&#104;&#121;&#108;&#064;&#119;&#101;&#098;&#097;&#100;&#100;&#114;&#101;&#115;&#115;&#046;&#099;&#111;&#109;">&#112;&#104;&#121;&#108;&#064;&#119;&#101;&#098;&#097;&#100;&#100;&#114;&#101;&#115;&#115;&#046;&#099;&#111;&#109;</a></li>
								<li><a class="tweet-link" href="mailto:&#064;&#112;&#104;&#121;&#108;&#104;&#097;&#108;&#108;">&#064;&#112;&#104;&#121;&#108;&#104;&#097;&#108;&#108;</a></li>
							</ul>
						</li>
						<li>
							<div class="avatar"><img src="/assets/img-13.gif" alt="image description" width="189" height="169" /></div>
							<div class="name-box">
								<img src="/assets/ico-flag.gif" alt="image description" />
								<div class="box">
									<span class="name">Phyllip Hall</span>
									<span>Role</span>
								</div>
							</div>
							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et.</p>
							</div>
							<ul class="links-list">
								<li><a href="#">www.webaddress.com</a></li>
								<li><a class="email-link" href="mailto:&#112;&#104;&#121;&#108;&#064;&#119;&#101;&#098;&#097;&#100;&#100;&#114;&#101;&#115;&#115;&#046;&#099;&#111;&#109;">&#112;&#104;&#121;&#108;&#064;&#119;&#101;&#098;&#097;&#100;&#100;&#114;&#101;&#115;&#115;&#046;&#099;&#111;&#109;</a></li>
								<li><a class="tweet-link" href="mailto:&#064;&#112;&#104;&#121;&#108;&#104;&#097;&#108;&#108;">&#064;&#112;&#104;&#121;&#108;&#104;&#097;&#108;&#108;</a></li>
							</ul>
						</li>
						<li>
							<div class="avatar"><img src="/assets/img-13.gif" alt="image description" width="189" height="169" /></div>
							<div class="name-box">
								<img src="/assets/ico-flag.gif" alt="image description" />
								<div class="box">
									<span class="name">Phyllip Hall</span>
									<span>Role</span>
								</div>
							</div>
							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et.</p>
							</div>
							<ul class="links-list">
								<li><a href="#">www.webaddress.com</a></li>
								<li><a class="email-link" href="mailto:&#112;&#104;&#121;&#108;&#064;&#119;&#101;&#098;&#097;&#100;&#100;&#114;&#101;&#115;&#115;&#046;&#099;&#111;&#109;">&#112;&#104;&#121;&#108;&#064;&#119;&#101;&#098;&#097;&#100;&#100;&#114;&#101;&#115;&#115;&#046;&#099;&#111;&#109;</a></li>
								<li><a class="tweet-link" href="mailto:&#064;&#112;&#104;&#121;&#108;&#104;&#097;&#108;&#108;">&#064;&#112;&#104;&#121;&#108;&#104;&#097;&#108;&#108;</a></li>
							</ul>
						</li>
						<li>
							<div class="avatar"><img src="/assets/img-13.gif" alt="image description" width="189" height="169" /></div>
							<div class="name-box">
								<img src="/assets/ico-flag.gif" alt="image description" />
								<div class="box">
									<span class="name">Phyllip Hall</span>
									<span>Role</span>
								</div>
							</div>
							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et.</p>
							</div>
							<ul class="links-list">
								<li><a href="#">www.webaddress.com</a></li>
								<li><a class="email-link" href="mailto:&#112;&#104;&#121;&#108;&#064;&#119;&#101;&#098;&#097;&#100;&#100;&#114;&#101;&#115;&#115;&#046;&#099;&#111;&#109;">&#112;&#104;&#121;&#108;&#064;&#119;&#101;&#098;&#097;&#100;&#100;&#114;&#101;&#115;&#115;&#046;&#099;&#111;&#109;</a></li>
								<li><a class="tweet-link" href="mailto:&#064;&#112;&#104;&#121;&#108;&#104;&#097;&#108;&#108;">&#064;&#112;&#104;&#121;&#108;&#104;&#097;&#108;&#108;</a></li>
							</ul>
						</li>
						<li>
							<div class="avatar"><img src="/assets/img-13.gif" alt="image description" width="189" height="169" /></div>
							<div class="name-box">
								<img src="/assets/ico-flag.gif" alt="image description" />
								<div class="box">
									<span class="name">Phyllip Hall</span>
									<span>Role</span>
								</div>
							</div>
							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et.</p>
							</div>
							<ul class="links-list">
								<li><a href="#">www.webaddress.com</a></li>
								<li><a class="email-link" href="mailto:&#112;&#104;&#121;&#108;&#064;&#119;&#101;&#098;&#097;&#100;&#100;&#114;&#101;&#115;&#115;&#046;&#099;&#111;&#109;">&#112;&#104;&#121;&#108;&#064;&#119;&#101;&#098;&#097;&#100;&#100;&#114;&#101;&#115;&#115;&#046;&#099;&#111;&#109;</a></li>
								<li><a class="tweet-link" href="mailto:&#064;&#112;&#104;&#121;&#108;&#104;&#097;&#108;&#108;">&#064;&#112;&#104;&#121;&#108;&#104;&#097;&#108;&#108;</a></li>
							</ul>
						</li>
						<li>
							<div class="avatar"><img src="/assets/img-13.gif" alt="image description" width="189" height="169" /></div>
							<div class="name-box">
								<img src="/assets/ico-flag.gif" alt="image description" />
								<div class="box">
									<span class="name">Phyllip Hall</span>
									<span>Role</span>
								</div>
							</div>
							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et.</p>
							</div>
							<ul class="links-list">
								<li><a href="#">www.webaddress.com</a></li>
								<li><a class="email-link" href="mailto:&#112;&#104;&#121;&#108;&#064;&#119;&#101;&#098;&#097;&#100;&#100;&#114;&#101;&#115;&#115;&#046;&#099;&#111;&#109;">&#112;&#104;&#121;&#108;&#064;&#119;&#101;&#098;&#097;&#100;&#100;&#114;&#101;&#115;&#115;&#046;&#099;&#111;&#109;</a></li>
								<li><a class="tweet-link" href="mailto:&#064;&#112;&#104;&#121;&#108;&#104;&#097;&#108;&#108;">&#064;&#112;&#104;&#121;&#108;&#104;&#097;&#108;&#108;</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="title-row">
				<h3><span class="mask">our beliefs</span></h3>
			</div>
			<ul class="beliefs-list">
				<li>
					<p>We are artists.</p>
				</li><li>
					<p>We express our artistry in everything we do.</p>
				</li><li>
					<p>We endeavor to befriend and connect like-spirited music fans, musical performers &amp; sponsors.</p>
				</li><li>
					<p>One day, the top selling song on iTunes will be by the artist who won our contest the day before.</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="tab-content" id="tab-6">
	<div class="tab-holder">
    <div class="tab-frame">
      <%= semantic_form_for @contact, :url => contacts_path(:anchor => 'tab-6'), :class => 'contact-form' do |f| %>
        <div class="tab-heading">
          <h3>Contact Fans Helping Artists</h3>
        </div>
        <div class="text-box">
          <p>Have a question? Drop us a line!</p>
        </div>
        <div class="form-box">
          <%= f.inputs do %>
            <%= f.input :name %>
            <%= f.input :email %>
            <%= f.input :copy_sender %>
            <%= f.input :subject %>
            <%= f.input :message, :as => :text %>
          <% end %>
          <div class="plugin-box">
            <%= raw @ayah.get_publisher_html %>
          </div>
					<div class="submit-row">
            <div class="submit-holder">
              <%= f.submit 'Send', :class => 'button-save' %>
						</div>
          </div>
        </div>
      <% end %>
		</div>
	</div>
</div>
<div class="tab-content" id="tab-7">
	<div class="tab-holder">
		<div class="tab-frame">
			<div class="privacy-box">
				<div class="tab-heading">
					<h3><span class="mask">Privacy</span></h3>
				</div>
				<h4>Lorem ipsum dolor sit</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et posuere eu, scelerisque at nulla. Fusce facilisis adipiscing tellus, vitae scelerisque nibh commodo in. Suspendisse mauris ipsum, placerat non elementum at, elementum et orci. Mauris vitae turpis nisi, sit amet aliquam purus. Donec quis luctus nulla. Vestibulum risus turpis, dapibus in aliquam at, congue sit amet quam. Vestibulum ornare sollicitudin ante, vel porta justo ornare ut. Pellentesque lobortis porttitor porttitor. Aliquam bibendum augue nec magna gravida in dapibus sapien posuere. Nunc vitae cursus ante. Pellentesque semper tincidunt feugiat. Proin faucibus nunc a mi vehicula ut sodales massa bibendum. Pellentesque nec nulla sit amet erat sodales bibendum quis ac massa.</p>
				<h4>Lorem ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et posuere eu, scelerisque at nulla. Fusce facilisis adipiscing tellus, vitae scelerisque nibh commodo in. Suspendisse mauris ipsum, placerat non elementum at, elementum et orci. Mauris vitae turpis nisi, sit amet aliquam purus. Donec quis luctus nulla. Vestibulum risus turpis, dapibus in aliquam at, congue sit amet quam. Vestibulum ornare sollicitudin ante, vel porta justo ornare ut. Pellentesque lobortis porttitor porttitor.</p>
				<h4>Lorem ipsum dolor sit</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et posuere eu, scelerisque at nulla. Fusce facilisis adipiscing tellus, vitae scelerisque nibh commodo in. Suspendisse mauris ipsum, placerat non elementum at, elementum et orci. Mauris vitae turpis nisi, sit amet aliquam purus. Donec quis luctus nulla. Vestibulum risus turpis, dapibus in aliquam at, congue sit amet quam. Vestibulum ornare sollicitudin ante, vel porta justo ornare ut. Pellentesque lobortis porttitor porttitor. Aliquam bibendum augue nec magna gravida in dapibus sapien posuere. Nunc vitae cursus ante. Pellentesque semper tincidunt feugiat. Proin faucibus nunc a mi vehicula ut sodales massa bibendum. Pellentesque nec nulla sit amet erat sodales bibendum quis ac massa.</p>
				<h4>Lorem ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et posuere eu, scelerisque at nulla. Fusce facilisis adipiscing tellus, vitae scelerisque nibh commodo in. Suspendisse mauris ipsum, placerat non elementum at, elementum et orci. Mauris vitae turpis nisi, sit amet aliquam purus. Donec quis luctus nulla. Vestibulum risus turpis, dapibus in aliquam at, congue sit amet quam. Vestibulum ornare sollicitudin ante, vel porta justo ornare ut. Pellentesque lobortis porttitor porttitor.</p>
			</div>
		</div>
	</div>
</div>
<div class="tab-content" id="tab-8">
	<div class="tab-holder">
		<div class="tab-frame">
			<div class="terms-box">
				<div class="tab-heading">
					<h3><span class="mask">Terms</span></h3>
				</div>
				<h4>Lorem ipsum dolor sit</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et posuere eu, scelerisque at nulla. Fusce facilisis adipiscing tellus, vitae scelerisque nibh commodo in. Suspendisse mauris ipsum, placerat non elementum at, elementum et orci. Mauris vitae turpis nisi, sit amet aliquam purus. Donec quis luctus nulla. Vestibulum risus turpis, dapibus in aliquam at, congue sit amet quam. Vestibulum ornare sollicitudin ante, vel porta justo ornare ut. Pellentesque lobortis porttitor porttitor. Aliquam bibendum augue nec magna gravida in dapibus sapien posuere. Nunc vitae cursus ante. Pellentesque semper tincidunt feugiat. Proin faucibus nunc a mi vehicula ut sodales massa bibendum. Pellentesque nec nulla sit amet erat sodales bibendum quis ac massa.</p>
				<h4>Lorem ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et posuere eu, scelerisque at nulla. Fusce facilisis adipiscing tellus, vitae scelerisque nibh commodo in. Suspendisse mauris ipsum, placerat non elementum at, elementum et orci. Mauris vitae turpis nisi, sit amet aliquam purus. Donec quis luctus nulla. Vestibulum risus turpis, dapibus in aliquam at, congue sit amet quam. Vestibulum ornare sollicitudin ante, vel porta justo ornare ut. Pellentesque lobortis porttitor porttitor.</p>
				<h4>Lorem ipsum dolor sit</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et posuere eu, scelerisque at nulla. Fusce facilisis adipiscing tellus, vitae scelerisque nibh commodo in. Suspendisse mauris ipsum, placerat non elementum at, elementum et orci. Mauris vitae turpis nisi, sit amet aliquam purus. Donec quis luctus nulla. Vestibulum risus turpis, dapibus in aliquam at, congue sit amet quam. Vestibulum ornare sollicitudin ante, vel porta justo ornare ut. Pellentesque lobortis porttitor porttitor. Aliquam bibendum augue nec magna gravida in dapibus sapien posuere. Nunc vitae cursus ante. Pellentesque semper tincidunt feugiat. Proin faucibus nunc a mi vehicula ut sodales massa bibendum. Pellentesque nec nulla sit amet erat sodales bibendum quis ac massa.</p>
				<h4>Lorem ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et posuere eu, scelerisque at nulla. Fusce facilisis adipiscing tellus, vitae scelerisque nibh commodo in. Suspendisse mauris ipsum, placerat non elementum at, elementum et orci. Mauris vitae turpis nisi, sit amet aliquam purus. Donec quis luctus nulla. Vestibulum risus turpis, dapibus in aliquam at, congue sit amet quam. Vestibulum ornare sollicitudin ante, vel porta justo ornare ut. Pellentesque lobortis porttitor porttitor.</p>
			</div>
		</div>
	</div>
</div>
</div>
</div>
