<div class="breadcrumbs-holder">
	<ul id="breadcrumbs">
		<li><a class="home" href="<%= root_path %>"><span>Home</span></a></li>
		<li><a href="<%= previews_path %>"><span>Contestant Preview</span></a></li>
		<li><span><%= @artist.profile_name %></span></li>
	</ul>
</div>
<div class="preview-box">
	<div class="heading">
		<h2>audition performance</h2>
		<div class="box">
		  <%- if @next.nil? -%>
  		  <%= link_to "All artists", previews_path, :class => "btn-next button" %>
			<%- else -%>
  			<%= link_to "Next artist", preview_path(@next), :class => "btn-next button" %>
			<%- end -%>  
			<!-- <span class="number">1/3</span> -->
		</div>
	</div>
	<div class="video-box">
		<div class="video-holder">
		  <% if @artist.entry.performance_video? -%>
		    <video class="video-js vjs-default-skin" controls preload="auto" width="640" height="391" data-setup="{}">
          <source src="<%= video_path "https://s3.amazonaws.com/fanhelp.mvp/#{@artist.entry.performance_video}" %>" type='video/mp4'>
        </video>
      <% elsif @artist.entry.youtube_url? -%>
        <iframe width="640" height="391" src="<%= parse_youtube @artist.entry.youtube_url %>" frameborder="0"></iframe>
      <% else -%>
        <h2>Video not yet uploaded.</h2>
      <% end -%>
		</div>
		<div class="info">
			<div class="photo">
			  <%- if @artist.profile_photo_square? -%>
			    <%= image_tag @artist.profile_photo_square.cropped, :width => '240', :height => '240' %>
			  <% end -%>
			</div>
			<dl>
				<dt>Artist:</dt>
				<dd><%= @artist.profile_name || raw("&nbsp;") %></dd>
				<dt>Genre:</dt>
				<dd><%= @artist.entry.genre || raw("&nbsp;") %></dd>
				<dt>Hometown:</dt>
				<dd><%= @artist.hometown || raw("&nbsp;") %></dd>
			</dl>
			<div class="text">
				<p><%= truncate(@artist.bio, :length => 200) %></p>
			</div>
			<%- if @artist.facebook? || @artist.twitter? -%>
  			<div class="social-panel">
  				<div class="like-link">Social Shares</div>
  				<ul class="like-list">
  				  <%- if @artist.facebook? -%>
    					<li>
    					  <%= link_to "Like on Facebook", @artist.facebook , :class => "facebook" %>
    					</li>
    				<% end -%>
  					<%- if @artist.twitter? -%>
    					<li>
    					  <%= link_to "Share on Twitter", "http://twitter.com/home?status=Check out #{@artist.profile_name} on FanHelp - #{preview_url(@artist)}" , :class => "twitter" %>
    					</li>
    				<% end -%>
  				</ul>
  			</div>
			<% end -%>
		</div>
	</div>
	<div class="social-plugin">
		<div class="holder">
			<div class="frame">
			  <%= image_tag "comments_hdr.jpg" %>
			  <div style="width: 700px; margin: 0 auto;">
			    <div class="fb-comments" data-href="<%= request.url %>" data-num-posts="10" data-width="700"></div>
			  </div>
			</div>
		</div>
	</div>
	<div class="panel">
	  <%= link_to "Done", previews_path, :class => "btn-done button"%>
		<div class="box">
		  <%- if @next.nil? -%>
  		  <%= link_to "All artists", previews_path, :class => "btn-next button" %>
			<%- else -%>
  			<%= link_to "Next artist", preview_path(@next), :class => "btn-next button" %>
			<%- end -%>  
			<!-- <span class="number">1/3</span> -->
		</div>
	</div>
</div>
