.main.shell
  .main-t
  .main-c
    .sign-up-steps
      %h2 Sign In
      .error-msg{style: "#{'display: block' if flash[:alert] == ""}"}
        %p Incorrect email or password

      .form-section.signin-form
        = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
          = f.input :email, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field "}
          = f.input :password, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field "}
          = f.submit "Sign In", class: "btn"

          .signin-support
            %p
              = link_to "Forgot password?", new_user_password_path
            %p
              Not already registered?
              = link_to "Sign Up Now", root_path, class: "sign-up-link"
  .main-b