<div class="popup-holder">
  <div class="lightbox popup" id="popup">
    <div class="holder">
      <div class="frame">
        <div class="alert"><%= 'Sorry, one or more errors prevented the form from being saved' if defined?(resource) && resource.errors.present? %></div>
        <h3>Sign up</h3>
        <div class="text-holder">
          <p>Please select which of these best describes how you will participate in contests...</p>
        </div>
        <%= form_for (defined?(resource) ? resource : User.new), :url => registration_path('user'), :html => { :class => 'signup-form' } do |f| %>
          <fieldset>
            <div class="row">
              <%= f.label :account_type, :class => 'radio-label', :for => 'account_type_judge' do %>
                <%= image_tag 'img-29.jpg', :alt => 'Judge', :width => '174', :height => '90' %>
                <span>I will judge</span>
                <%= f.radio_button :account_type, 'judge', :class => 'radio', :id => 'account_type_judge' %>
              <% end %>
              <%= f.label :account_type, :class => 'radio-label', :for => 'account_type_compete' do %>
                <%= image_tag 'img-30.jpg', :alt => 'Compete', :width => '174', :height => '90' %>
                <span>I will compete</span>
                <%= f.radio_button :account_type, 'compete', :class => 'radio', :id => 'account_type_compete' %>
              <% end %>
              <%= f.label :account_type, :class => 'radio-label', :for => 'account_type_judge_compete' do %>
                <%= image_tag 'img-31.jpg', :alt => 'Compete', :width => '174', :height => '90' %>
                <span>I will judge &amp; compete</span>
                <%= f.radio_button :account_type, 'judge,compete', :class => 'radio', :id => 'account_type_judge_compete' %>
              <% end %>
            </div>
            <div class="columns">
              <div class="col-1">
                <h4>Sign up via Facebook <em>(recommended)</em></h4>
                <div class="btn-holder">
                  <a href="<%= user_omniauth_authorize_path(:facebook) %>" class="btn-facebook">Connect with Facebook</a>
                </div>
                <div class="btn-holder">
                  <a href="<%= user_omniauth_authorize_path(:twitter) %>" class="btn-twitter">Connect with Twitter</a>
                </div>
                <p>Sign up terms, lorem ipsum consectetur adipiscing elit. Suspendisse condimentum faucibus justo tempus gravida. Cras fringilla velit sed arcu gravida quis tincidunt dui porta.</p>
              </div>
              <div class="col-2">
                <h4>Or Email</h4>
                <div class="text-row">
                  <%= f.label :email do %>
                    Email<span class="required">*</span>
                  <% end %>
                  <div class="text"><%= f.text_field :email %></div>
                  <p class="inline-errors email-errors"><%= f.object.errors.messages[:email].join(', ') %></p>
                </div>
                <div class="text-row">
                  <%= f.label :password do %>
                    Password<span class="required">*</span>
                  <% end %>
                  <div class="text"><%= f.password_field :password %></div>
                  <p class="inline-errors password-errors"><%= f.object.errors.messages[:password].join(', ') %></p>
                </div>
              </div>
            </div>
            <div class="submit-row">
              <div class="submit-holder">
                <%= f.submit 'Sign Up', :class => 'button-signup' %>
              </div>
              <p>Are you already a member of Fans Helping Artists? <a class="lightbox" href="#popup-2">Log in</a></p>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
    <a href="#" class="btn-close">Close</a>
  </div>
</div>
<div class="popup-holder">
  <div class="lightbox popup popup-login" id="popup-2">
    <div class="holder">
      <div class="frame">
        <h3>Log in</h3>
        <%= form_for (defined?(resource) ? resource : User.new), :url => session_path('user'), :html => { :class => 'login-form' } do |f| %>
          <fieldset>
            <div class="columns">
              <div class="col-1">
                <h4>Log in with <strong>Facebook</strong></h4>
                <div class="btn-holder">
                  <a href="<%= user_omniauth_authorize_path(:facebook) %>" class="btn-facebook">Connect with Facebook</a>
                </div>
                <div class="btn-holder">
                  <a href="<%= user_omniauth_authorize_path(:twitter) %>" class="btn-twitter">Connect with Twitter</a>
                </div>
              </div>
              <div class="col-2">
                <h4>Or your <strong>FHA</strong> account details</h4>
                <div class="text-row">
                  <%= f.label :email do %>
                    Email<span class="required">*</span>
                  <% end %>
                  <div class="text"><%= f.text_field :email %></div>
                  <p class="inline-errors email-errors"><%= f.object.errors.messages[:email].join(', ') %></p>
                </div>
                <div class="text-row">
                  <%= f.label :password do %>
                    Password<span class="required">*</span>
                  <% end %>
                  <div class="text"><%= f.password_field :password %></div>
                  <p class="inline-errors email-errors"><%= f.object.errors.messages[:email].join(', ') %></p>
                </div>
                <div class="password-reset">
                  Forgotten password?
                  <%= link_to 'Click here', '#reset-password', :class => 'lightbox' %>
                </div>
              </div>
            </div>
            <div class="submit-row">
              <div class="submit-holder">
                <input type="submit" value="Log in" class="button-signup" />
              </div>
              <p>Not a member of Fans Helping Artists yet? <a class="lightbox" href="#popup">Sign up now!</a></p>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
    <a href="#" class="btn-close">Close</a>
  </div>
</div>
<div class="popup-holder">
  <div class="lightbox popup popup-login" id="reset-password">
    <div class="holder">
      <div class="frame">
        <h3>Password Reset</h3>
        <%= form_for User.new, :url => reset_password_path, :html => { :class => 'login-form' } do |f| %>
          <fieldset>
            <div class="columns">
              <div class="col-1">
                <div class="forgotten-password-text">
                  Forgotten your password?<br />
                  Enter your email address and we'll<br />
                  send you a new password.
                </div>
              </div>
              <div class="col-2">
                <h4>Enter your <strong>email address</strong></h4>
                <div class="text-row">
                  <%= f.label :email do %>
                    Email<span class="required">*</span>
                  <% end %>
                  <div class="text"><%= f.text_field :email %></div>
                  <p class="inline-errors email-errors"><%= f.object.errors.messages[:email].join(', ') %></p>
                </div>
              </div>
            </div>
            <div class="submit-row">
              <div class="submit-holder">
                <input type="submit" value="Reset password" class="button-reset-password" />
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
    <a href="#" class="btn-close">Close</a>
  </div>
</div>
