<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
</head>
<div id="fb-root"></div>
<script type="text/javascript">
    window.fbAsyncInit = function () {
        FB.init({
            appId:'232840446817651', // App ID
            channelUrl:'//mvp2.fanhelp.us/channel.html', // Channel File
            status:true, // check login status
            cookie:true, // enable cookies to allow the server to access the session
            xfbml:true  // parse XFBML
        });
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32359215-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
<body>
<%= render 'layouts/flash' %>
<div id="wrapper">
  <div class="w1">
    <div id="header">
      <div class="header-holder">
        <h1 class="logo"><%= link_to 'Fans Helping Artists', root_path %></h1>
        <span class="slogan">A world class music talent contest<span>judged by fans!</span></span>
      </div>
      <div class="panel">
        <div class="block">
          <div class="block-holder">
            <span id="share-label">Share</span>
            <ul class="social-networks addthis_toolbox" addthis:url="http://fanhelp.us" addthis:title="Fans Helping Artists" addthis:description="description stuff">
              <script type="text/javascript">var addthis_config = { data_track_clickback:false }</script>
              <li><a href="#" class="addthis_button_facebook facebook">
                <div>facebook</div>
              </a></li>
              <li><a href="#" class="addthis_button_twitter twitter">
                <div>twitter</div>
              </a></li>
              <li><a href="#" class="addthis_button_google_plusone_share googleplus">
                <div>google plus</div>
              </a></li>
              <li><a href="#" class="addthis_button_email email">
                <div>email</div>
              </a></li>
              <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f8a11bd2fe94136"></script>
            </ul>
            <div class="box">
              <% if user_signed_in? %>
                  <div class="account-box">
                    <a href="<%= account_path %>" class="user">
                      <div class="profile-photo-tiny">
                        <% if current_user.profile_photo_square? %>
                            <%= image_tag current_user.profile_photo_square.cropped.tiny, :alt => 'Profile photo' %>
                        <% end %></div>
                      <span><div class="display-name"><%= current_user.display_name %></div></span>
                    </a>

                    <div class="drop">
                      <div class="holder">
                        <div class="frame">
                          <div class="foto">
                            <div class="profile-photo">
                              <% if current_user.profile_photo_square? %>
                                  <%= image_tag current_user.profile_photo_square.cropped.small, :width => '77', :height => '77' %>
                              <% end %></div>
                            <span><%= current_user.display_name %></span>
                          </div>
                          <ul class="list">
                            <li><a href="<%= account_path %>">My Account</a></li>
                            <% if current_user.admin? %>
                                <li><a href="<%= admin_dashboard_path %>">Admin Dashboard</a></li>
                            <% end %>
                            <li><a href="<%= destroy_user_session_path %>" data-method="delete">Log out</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
              <% else %>
                  <ul class="log-in-nav">
                    <li><a class="lightbox" href="#popup-2"><span>Log in</span></a></li>
                    <li><a class="lightbox" href="#popup"><span>Sign up</span></a></li>
                  </ul>
                  <D-d>
              <% end %>
            </div>
          </div>
        </div>
        <ul id="nav">
          <li class="<%= 'active' if current_page?(root_path) %>">
            <a href="<%= root_path %>">Home <span class="arrow">arrow</span></a></li>
          <li class="<%= 'active' if current_page?(previews_path) %>">
            <a href="<%= previews_path %>">Preview Contestants <span class="arrow">arrow</span></a></li>
        </ul>
      </div>
    </div>
    <div id="main">
      <% if user_signed_in? %>
        <%= link_to_unless_current "Auditions", root_path %>
        <%= link_to_unless_current "Following", follows_path %>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>
<%= render 'layouts/popups' %>
<div id="footer">
  <!--
		<div class="panel">
			<div class="holder">
				<div class="frame">
						<span>Presented by:</span>
            <a href="<%= page_path('sponsors') %>"><img src="/assets/img-03.png" width="100" height="48" alt="Mr. Handyman: On time. Done right." /></a>
				</div>
			</div>
		</div>
    //-->
  <div class="bar">
    <div class="social-media-buttons">
      <!--
        <%= link_to 'http://www.facebook.com/FansHelpingArtists', :target => '_blank' do %>
          <div class="facebook-button">Join us on facebook</div>
        <% end %>
        //-->
      <%= link_to 'https://twitter.com/intent/user?screen_name=fanhelp', :target => '_blank' do %>
          <div class="twitter-button">Follow @FanHelp</div>
      <% end %>
    </div>
    <div class="add-nav-box">
      <ul class="add-nav">
        <!--<li><a href="<%= page_path('notices', :anchor => 'tab-5') %>">About </a></li> //-->
        <li><a href="<%= page_path('notices', :anchor => 'tab-6') %>">Contact Us</a></li>
        <!--<li><a href="<%= page_path('notices', :anchor => 'tab-7') %>">Terms</a></li> //-->
        <!--<li><a href="<%= page_path('notices', :anchor => 'tab-8') %>">Privacy</a></li> //-->
      </ul>
    </div>
  </div>
  <!--
 <div class="copyright">&copy; 2012 Bright Lights Music Group, LLC  All Rights Reserved</div>
    //-->
</div>
<%= javascript_include_tag "http://www.google.com/jsapi" %>
<script type="text/javascript">
    google.load("swfobject", "2.1");
</script>
</body>
</html>
