!!!
%html{:dir => "ltr", :lang => "en-US", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title MusicMogul
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}/
    %link{:href => image_path("favicon.ico"), :rel => "shortcut icon"}/
    = stylesheet_link_tag "application", :media => "all", :rel => "stylesheet", :type => "text/css"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Telex", :media => "all", :rel => 'stylesheet', :type => 'text/css'
    = javascript_include_tag "application"
  %body
    = render "layouts/flash"
    .shell
      / Header
      #header
        %h1#logo
          %a{:href => root_path} Music Mogul
        - if user_signed_in?
          #navigation.left
            %ul
              %li
                %a.audition{href: "#{root_path}", class: "#{'audition-active' if current_page?(root_path)}"}
                  Audition
              %li
                %a.follow{href: "#{follows_path}", class: "#{'follow-active' if current_page?(follows_path)}"}
                  Following
              %li
                %a.board{href: "#{leaderboard_path}", class: "#{'board-active' if current_page?(leaderboard_path)}"}
                  Leader Board
              %li
                %a.my-evaluation{href: "#{evaluations_path}", class: "#{'my-evaluation-active' if current_page?(evaluations_path)}"}
                  My Evaluations
          / END Navigaiton
          .profile.right
            .drop-holder
              .avatar
                %img{src: "#{current_user.profile_photo.url(:thumb)}", width: "23", height: "23", alt: ""}
              %a.name{href: "#"} #{current_user.display_name}
              .cl  
              .drop-down
                %span.arrow-drop  
                .left-part.left
                  .img-box
                    %img{alt: "", height: "138", src: "#{current_user.profile_photo.url(:medium)}", width: "138"}/
                  %a{href: "#{account_path}"} #{current_user.display_name}
                .right-part.right
                  %ul
                    %li
                      %a{:href => "#{account_path}"} My Account
                    - if current_user.entries.count > 0
                      %li
                        %a{:href => "#{edit_entry_path(current_user.entries.first)}"} My Video Submission
                      %li
                        %a{:href => "#{entry_path(current_user.entries.first)}"} My Audition
                    %li
                      = link_to "My Friends", friends_path
                    - if current_user.admin?
                      %li
                        %a{:href => "#{admin_root_path}"} Administration
                    %li.last
                      %a{:href => "#{destroy_user_session_path}", "data-method" => "delete"} Sign Out
              .cl  
            - unless current_user.profile_complete?
              %a.complete{:href => "#{account_path}"} Complete your profile
            .cl
        - else
          .btn-holder.right
            %a{:href => new_user_session_path} Sign In
        .cl  
        = content_for(:bottom_of_header)
      / END Header
      / Content
      #content
        = yield
        .cl  
        %br/
        %br/
        %br/
        %br/
        %br/
      / END Content
      / Footer
      #footer
        .top-part
          %ul
            %li
              %a{href: "#{learn_more_path}"} Learn More
            %li
              %a.notice{href: "#{notices_path(anchor: "about")}"} About Us
            %li
              %a{href: "http://musicmogul.uservoice.com/forums/187106-general", target: "_blank"} Suggestions
            %li
              %a.notice{href: "#{notices_path(anchor: "contact")}"} Contact Us
          .cl  
        .bottom-part
          %ul.left
            %li
              %a.notice{href: "#{notices_path(anchor: "terms")}"} Terms
            %li
              %a.notice{href: "#{notices_path(anchor: "privacy")}"} Privacy
          %ul.right
            %li
              = link_to image_tag("facebook.png"), "http://www.facebook.com/MyMusicMogul", target: "_blank"
            %li
              = link_to image_tag("twitter.png"), "http://www.twitter.com/MyMusicMogul", target: "_blank"
          %span.copy Bright Lights Music Group, LLC &copy; 2012
      / END Footer

    = javascript_include_tag "http://www.google.com/jsapi"
    :javascript
      google.load("swfobject", "2.1");

