!!!
%html{:dir => "ltr", :lang => "en-US", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title MusicMogul
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}/
    %link{:href => image_path("favicon.ico"), :rel => "shortcut icon"}/
    = stylesheet_link_tag "application", :media => "all", :rel => "stylesheet", :type => "text/css"
    = javascript_include_tag "application"
  %body
    - if user_signed_in?
      = render "contracts/confirm"
    = render "layouts/flash"
    / page wrapper
    .wrapper
      / header
      .header
        .shell.clearfix
          %h1#logo.left
            %a.notext{:href => "#{root_path}"} MusicMogul
            %span
              Tomorrow's music stars<br/>discovered by today's music fans
          - if user_signed_in?
            = render "layouts/profile"
            - if contest_running?
              #header-nav
                %ul
                  %li.auditions{class: "#{'active' if current_page?(root_path)}"}
                    %a{href: "#{root_path}"}
                      Auditions
                      %span.ico
                  %li.evaluations{class: "#{'active' if current_page?(evaluations_path)}"}
                    %a{href: "#{evaluations_path}"}
                      My Evaluations
                      %span.ico
                  %li.leader-board{class: "#{'active' if current_page?(leaderboard_path)}"}
                    %a{href: "#{leaderboard_path}"}
                      Leader Board
                      %span.ico
          - else
            %a.btn.right{:href => "#{new_user_path}"} Sign Up
            %a.btn.right{:href => "#{new_user_session_path}"} Sign In
        .header-shadow
      / end header
      / main content area
      = yield
      .push
      / footer push
    / end page wrapper
    / footer
    .footer.shell
      .footer-top.clearfix
        #navigation.left
          %ul.main-nav.clearfix
            %li
              = link_to "Contest Rules", contest_rules_path
            %li
              = link_to "Contact Us", contact_us_path
            %li
              %a{:href => "http://suggestions.musicmogul.com", target: "_blank"} Suggestions
          %ul.sub-nav.clearfix
            %li
              = link_to "Privacy", privacy_path
            %li
              = link_to "Terms", terms_path
        .socials.right
          %a.ico.fb-ico{:href => "http://www.facebook.com/MyMusicMogul", target: "_blank"}
          %a.ico.tw-ico{:href => "http://www.twitter.com/MyMusicMogul", target: "_blank"}
      .footer-bottom
        %p © 2013 Bright Lights Music Group, LLC
    / end footer
