!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title Music Mogul
    %link{:href => image_path("favicon.ico"), :rel => "shortcut icon"}/
    = stylesheet_link_tag "landing/landing"
    = javascript_include_tag "application"
  %body
    #top-bar
      .inner
        #logo
        #sign-up
          - if false
            %a.btn{:href => "#{new_user_session_path}"} Sign In
    #hero
      #slider
        .pictures
          %ul
            %li#0.active{:style => ""}
              .bg{:style => ""}
                = image_tag "landing/pic-2.jpg"
              .info
                %h3.txsh Contestant
                %h4.txsh
                  %a{:href => "http://loveinstockholm.com/", target: "_blank"} LIVE IN STOCKHOLM
                %h5.txsh
                  %span Pop
                  \• Boston, MA
            %li#1.active{:style => "display:none;"}
              .bg{:style => ""}
                = image_tag "landing/pic-1.jpg"
              .info
                %h3.txsh Contestant
                %h4.txsh
                  %a{:href => "https://www.facebook.com/drey.skonie", target: "_blank"} DREY SKONIE
                %h5.txsh
                  %span R&B
                  \• Detroit, MI
            %li#2{:style => "display:none"}
              .bg{:style => ""}
                = image_tag "landing/pic-3.jpg"
              .info
                %h3.txsh Contestant
                %h4.txsh
                  %a{:href => "http://davecoresh.com/", target: "_blank"} Dave Coresh
                %h5.txsh
                  %span Rap
                  \• Chicago, IL
            %li#3{:style => "display:none"}
              .bg{:style => ""}
                = image_tag "landing/wings-of-apollo.jpg"
              .info
                %h3.txsh Contestant
                %h4.txsh
                  %a{:href => "http://www.wingsofapollo.com/", target: "_blank"} Wings of Apollo
                %h5.txsh
                  %span Rock
                  \• Nashville, TN
            %li#4{:style => "display:none"}
              .bg{:style => ""}
                = image_tag "landing/emily-earle.jpg"
              .info
                %h3.txsh Contestant
                %h4.txsh
                  %a{:href => "http://www.emilyearle.com/", target: "_blank"} Emily Earle
                %h5.txsh
                  %span Country
                  \• Colorado Springs, CO
          .grad
        .ctrl
          #nav-0.nav.act
          #nav-1.nav
          #nav-2.nav
          #nav-3.nav
          #nav-4.nav
      - if false
        #call-to-action
          %h1.txsh
            Know great music<br/>when
            = succeed "?" do
              %span you hear it
          %h3.txsh Music Mogul is the new fantasy music game where your play determines tomorrow's star singers, bands, and beat makers.
          #join.join-area
            %a#join-button.btn{:href => "#{new_user_path}"} Join Now For Free
      - else
        #call-to-action
          %h1.txsh
            Know great talent
            %br>/
            when
            = succeed "?" do
              %span you hear it
          %h3.txsh
            Music Mogul is the new fantasy music game where you
            %br/
            play to discover tomorrow's star singers, bands, and beat makers.
          #join.join-area
            .label-wrap
              %input#user-email{:name => "user-email", :onblur => "if( this.value == '' ) { this.value = 'Email Address'; }", :onfocus => "if( this.value == 'Email Address' ) { this.value = ''; }", :type => "text", :value => "Email Address"}/
            %a#join-button.btn{:href => "#"} I'm Interested
          #result-message{:style => "display:none;"}
    #footer
      .f-menu
        %ul
          %li
            %a{:href => "#{about_path}"} About
          %li
            %a{:href => "#{contest_rules_path}"} Contest Rules
          %li
            %a{:href => "http://suggestions.musicmogul.com", target: "_blank"} Suggestions
          %li
            %a{:href => "#{contact_us_path}"} Contact Us
          %li
            %a{:href => "#{team_path}"} Team
          %li
            %a{:href => "#{terms_path}"} Terms
          %li
            %a{:href => "#{privacy_path}"} Privacy
      .copy © 2013 Bright Lights Music Group, LLC
    #dim{:style => "display:none;"}
    #modal{:style => "display:none;"}
      %h1 Register now as a :
      .buttons
        %a.btn{:href => "#mogul"} Mogul
        %a.btn.artist{:href => "#artist"} Artist
        .subtitle
          Start judging and building your label.
        .subtitle.artist
          Upload your videos and show your friends.
      .cancel
        %a#cancel-button{:href => "#"} close window

:javascript
  $(document).ready(function(){
      $('#join-button').click(function(){
          var obj = {},
          EMAIL_COLLECT_URL = 'email-collect.html',
          email_val = $('#user-email').val();
          obj.email = email_val;
          if( email_val != '' && email_val != 'Email Address' ) {
              $.ajax({
                  url     : "prospects",
                  data    : obj,
                  type    : 'POST',
                  success : function( response ) {
                      $('#join').hide();
                      $('#result-message').html(response);
                      $('#result-message').show();
                  }
              });
          } else {
              alert('You must enter an email address!' );
          }
      });
  });